    #h5 {
        text-align: center;
    }
    
    .w20m>.col-md-9>.row>.col-md-6,
    .p-5>.col-md-9>.row>.col-md-6 {
        width: 50%;
    }
    
    .p-5>.col-md-9>.row>.col-md-6>#h4,
    .w20m>.col-md-9>.row>.col-md-6>#h4 {
        text-align: right;
    }
    
    #h5 {
        margin: 5%;
    }
    
    #h5>a {
        background: black;
        color: white;
        text-decoration: none;
        padding: 5px;
        margin: 20%;
        border-radius: 10%;
    }
    
    #h1 {
        display: none;
    }
    
    @media only screen and (max-width: 1309px) {
        /*#h1 {*/
        /*    display: block;*/
        /*}*/
        #h3,#h2 {
            display: none;
        }
        #h2 {
            width: 30%;
        }
    }
    
    @media only screen and (max-width: 767px) {
        tr th:nth-child(4),
        tr td:nth-child(4),
        tr th:nth-child(5),
        tr td:nth-child(5) {
            display: none;
        }
    }