/*.sidebar, .sidebar-content, .sidebar-link, a.sidebar-link {
    background: #643022;
}*/

.no-btn {
    background: transparent;
    background-color: transparent;
    border: none;
    color: #6c757d;
    padding-right: 0;
}

.lineh-normal {
    line-height: normal;
}

.sidebar-nav {
    margin-top: 0;
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
    background-color: transparent;
}

.sidebar-link i,
.sidebar-link svg,
a.sidebar-link i,
a.sidebar-link svg {
    margin-right: 0.25rem;
}

.last-login-box {
    display: flex;
    align-items: center;
}

.last-login-box .small {
    line-height: 1em;
}

.table-borderb-0 tr:last-child td {
    border-bottom: none;
}

.cd-box {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.bg-other,
.btn-other {
    background-color: #dee2e6;
    border-color: #dee2e6;
}

.form-select,
.form-control {
    min-height: 50px;
}

.btn-xl {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-custom td:first-child a {
    margin: 2px;
    font-size: 10px;
}

.table-btns {
    min-width: 130px;
    display: inline-block;
    border-bottom: none;
}

.lh-normal {
    line-height: 1.3em !important;
    display: block;
    ;
}

.table-inner td,
.table-inner th {
    width: 2%;
}

.preview-img-frame,
.video-box {
    line-height: 200px;
}

.video-box video {
    width: 100%;
    min-height: 200px;
    vertical-align: middle;
    text-align: center;
}

.preview-img-frame {
    position: relative;
    margin-bottom: 25px;
    border-radius: 20px !important;
    overflow: hidden
}

.preview-img-frame button {
    background: transparent;
    border: none;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 9;
    transition: all 0.3s linear;
}

.preview-img-frame button:hover {
    background: rgba(0, 0, 0, 0.5);
}

.preview-img-frame button:focus {
    outline: none;
    box-shadow: none;
}

.preview-img-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-img-frame .feather {
    stroke-width: 2;
    height: 45px;
    width: 45px;
    stroke: #fff;
}

#videoBoxModal .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: transparent;
    font-size: 20px;
    z-index: 9;
}

.ql-editor,
.ql-snow .ql-editor pre.ql-syntax {
    min-height: 300px;
}

@media (min-width: 768px) {
    .btn-wider {
        min-width: 150px;
    }
}

@media (min-width: 992px) {
    .content {
        padding: 2.5rem 2rem 1.5rem;
    }
}

@media (min-width: 575px) {
    .modal-sm.modal-dialog {
        max-width: 450px;
    }
}

#confirmModel .fa-check-circle,
#confirmModel .fa-question-circle {
    font-size: 200px;
    opacity: 0.8;
}


/*.has-dropdown.sidebar-item {
    border-bottom: 1px solid rgba(233,236,239,.5);
}*/


/*.sidebar-link:hover {
    background: #f9957b;
}
.sidebar-link:hover, .sidebar-link:hover i, .sidebar-link:hover svg, .sidebar-link, a.sidebar-link,
.sidebar-link i, .sidebar-link svg, a.sidebar-link i, a.sidebar-link svg {
    color: rgba(233,236,239,1);
}*/

.sidebar-link,
a.sidebar-link {
    padding: .625rem 1rem;
    background: transparent;
}

.sidebar-nav-child {
    background: #17202b;
}

.sidebar-nav-child a.sidebar-link {
    padding: .625rem 1rem .625rem 1rem;
}

input.form-control,
.form-inline>.btn,
.btn-custom,
select.form-control {
    min-height: 50px;
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.form-inline>.btn {
    width: 100%;
}

.btn,
.border-radius-10 {
    border-radius: 10px;
}

.btn.outline-none:active,
.btn.outline-none:focus {
    outline: none;
    box-shadow: none;
}

.sidebar-brand {
    padding-bottom: 0;
}

.sidebar-brand img {
    max-width: 120px;
    margin-bottom: 20px;
}

.sidebar-link i,
a.sidebar-link i {
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

.sidebar-link,
a.sidebar-link {
    font-size: 16px;
}

.has-search .form-control-feedback {
    top: 19px;
    left: 13px;
    color: #ccc;
    position: absolute;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

.search-box {
    max-width: 450px;
    width: 100%;
}

.top-navbar {
    justify-content: space-between;
}

.border-b-1 {
    border-bottom: 1px solid #000;
}

.member-price {
    font-size: 54px;
}

.inputs-text-center input {
    text-align: center;
}

.kyc-image {
    object-fit: cover;
    max-height: 300px;
}

.form-control+span {
    font-size: 26px;
    position: absolute;
    right: 10px;
}

.amount-control+span {
    font-size: .875rem;
    position: relative;
    right: 0;
}

.required.form-group {
    position: relative;
}

.required.form-group:before {
    content: '*';
    position: absolute;
    left: 15px;
    color: red;
    font-size: 24px;
    top: 12px;
    z-index: 1;
}

.file.form-control {
    position: relative;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    cursor: pointer;
}

.file.form-control input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.input-error,
.input-success {
    display: none;
}

.validation-error,
.validation-success {
    position: relative;
}

.validation-error .input-error,
.validation-success .input-success {
    display: inline-block;
}

a.btn-link:hover,
.btn-link:hover {
    text-decoration: none;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    position: relative;
    z-index: 1;
}

#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: bold;
}

#progressbar li a,
#progressbar li a:hover {
    color: black;
    text-decoration: none;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 14px;
    color: #333;
    background: white;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto 5px auto;
    height: 40px;
    font-weight: bold;
    border: 1px solid #000;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    left: -50%;
    top: 20px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before {
    background: lightgray;
}

.big-check {
    font-size: 250px;
}

.pie-chart-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie-chart-box span {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
}

.fs-64 {
    font-size: 64px;
}

.pie-chart-box .pie-circle {
    display: inline-block;
    border: 10px solid #1cbb8c;
}

.pie-chart-box span {
    line-height: 20px;
    text-align: center;
}

.pie-chart-box span small {
    display: inline-block;
    width: 100%;
    font-size: 20px;
}


/* pagination */

/*.pagination .active a {*/
/*    color: #000;*/
/*    background-color: transparent;*/
/*    font-weight: 600;*/
/*}*/

/*.pagination .active a:hover {*/
/*    background-color: transparent;*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*}*/

/*.pagination .active a:focus {*/
/*    background-color: transparent;*/
/*    color: #000;*/
/*    outline: none;*/
/*}*/

/*.pagination li a {*/
/*    border: 1px;*/
/*    margin-left: 0px;*/
/*    color: #707070;*/
/*    padding: 7px 0px;*/
/*    margin: 0px 15px;*/
/*}*/

/*.pagination li a:hover {*/
/*    background-color: transparent;*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*}*/

/*.pagination li a:focus {*/
/*    outline: none;*/
/*    background-color: transparent;*/
/*    !*color:#707070;*!*/
/*}*/

/*.pagination li:first-child a,*/
/*.pagination li:last-child a {*/
/*    border: 2px solid #000 !important;*/
/*    border-radius: 6px;*/
/*    margin: 0px;*/
/*    padding: 6px 12px;*/
/*    border: 2px solid;*/
/*    font-size: 14px;*/
/*    color: #000;*/
/*}*/

/*.pagination li:first-child a:hover,*/
/*.pagination li:last-child a:hover {*/
/*    text-decoration: none !important;*/
/*    color: #fff;*/
/*    background-color: #000;*/
/*}*/

/*.pagination li:first-child a:focus,*/
/*.pagination li:last-child a:focus {*/
/*    outline: none;*/
/*}*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.dropdown-caret-none:after {
    display: none;
}

.dropdown-box {
    position: relative;
}

.dropdown-box ul.dropdown-menu {
    top: 100% !important;
    width: 100%;
    text-align: center;
}

.top-navbar h1 {
    margin-right: 0;
}

.search-box {
    margin: 0 auto !important;
    padding: 0 20px;
}

.top-navbar.navbar-expand .navbar-collapse {
    flex-grow: unset;
}


/* profile pic change*/

.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
}

.profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
    position: relative;
}

.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}

.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
    align-items: center;
}

.profile-pic-box {
    position: relative;
}

.profile-pic p {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background: #6185e5;
    color: #fff;
    right: 5px;
    bottom: 10px;
}

.fc-caret-down {
    position: relative;
}

.fc-caret-down:after {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    content: "";
    margin-left: .255em;
    vertical-align: .255em;
    position: absolute;
    right: 25px;
    top: 20px;
}

#faq button {
    background: transparent;
    border: none;
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    display: flex;
}

.accordion-body {
    padding: 15px 0 15px;
    font-size: 16px;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
    content: "\f106";
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item {
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
}

.image-text-box .image img {
    max-width: 95px;
    margin-right: 15px;
}

.top-100 {
    top: 100%;
}

.alphabetchk {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.alphabetchk input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}

.alphabetchk .optchoice {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
}

.alphabetchk .optAnswer {
    padding-left: 46px;
    display: inline-block;
    line-height: normal;
}

.alphabetchk input[type="checkbox"]:checked+.optchoice {
    background-color: #1cbb8c;
    border-color: #1cbb8c;
}

.alphabetchk input[type="checkbox"]:checked~.optAnswer {
    color: #1cbb8c;
}

.correct-answer input[type="checkbox"]:checked+.optchoice {
    background-color: #3b7ddd;
    border-color: #3b7ddd;
}

.correct-answer input[type="checkbox"]:checked~.optAnswer {
    color: #3b7ddd;
}

.time-box span {
    font-size: 26px;
    font-weight: bold;
}

.answer-error,
.answer-error .card-header {
    background: #f2b4b7;
}

.answer-success,
.answer-success .card-header {
    background: #abddc4;
}

.card {
    border-radius: 10px;
    /*overflow: hidden;*/
}

span.btn {
    cursor: auto;
}

.badge {
    font-size: 100%;
}

.table-custom tr.accordion-collapse,
.table-custom tr.accordion-collapse td,
.table-custom tr.accordion-collapse:hover,
.table-custom tr.accordion-collapse:hover td {
    background-color: #f5f7fb;
    box-shadow: none;
}

.image-text-box.v2 .image img {
    max-width: 50px;
}

.image-text-box.v2 .caption .h4 {
    font-size: 16px;
}

.accordion-collapse .col {
    flex-basis: 20%;
    max-width: 20%;
}

.accordion-collapse .col:first-child {
    margin-bottom: 20px;
}

.text-ellipsis {
    width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
}

.answerInput-box {
    margin-bottom: 15px;
}

.fs-24 {
    font-size: 24px;
}

.carousel-box {
    padding: 0 30px;
}

.owl-carousel .owl-nav {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    z-index: -1;
}

.modal-content {
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.modal-header,
.modal-footer {
    border-radius: 0;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-body {
    margin: 0 auto;
}

.carousel-toggle-box img {
    cursor: pointer;
}

.carousel-btn-check {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(28, 187, 140, 0.7);
    width: 100%;
    color: #fff;
    font-size: 74px;
}

.carousel-btn-check i {
    background: rgba(28, 187, 140, 1);
    border-radius: 100%;
    padding: 15px;
}

@media (min-width: 768px) {
    .form-inline.btn-two {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }
    .form-inline>.btn {
        width: 45%;
    }
    .alphabetchk {
        width: 50%;
    }
    .alphabetchk:nth-child(3),
    .alphabetchk:nth-child(4),
    .answerInput-box:nth-child(3),
    .answerInput-box:nth-child(4) {
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .modal-dialog {
        max-width: 620px;
        margin: 1.75rem auto;
    }
}
@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1200px) {
    .h1,
    h1 {
        font-size: 2.25rem;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    /*.pie-chart-box span {
        font-size: 26px;
        line-height: 12px;
    }
    .pie-chart-box span small {
        font-size: 12px;
    }*/
}

@media (max-width: 1199px) {
    .search-box {
        max-width: 230px;
        width: auto;
    }
}

@media (max-width: 991px) {
    .top-navbar {
        flex-wrap: wrap;
    }
    .search-box.order-md-3 {
        order: 5 !important;
        width: 100%;
        max-width: 100%;
        padding-top: 15px;
    }
    .top-navbar h1 {
        margin-right: auto;
    }
    .sidebar-brand img {
        max-width: 45px;
    }
}

@media (max-width: 767px) {
    .form-inline>.btn:first-child {
        margin-bottom: 10px;
    }
    .top-navbar {
        justify-content: space-between;
    }
    .search-box {
        max-width: 100%;
        width: 100%;
        margin-top: 15px;
    }
    .footer-links span:last-child {
        display: inline-block;
        width: 100%;
        margin-top: 5px;
    }
    .search-box {
        padding: 10px 0px 0;
    }
    .top-navbar h1 {
        max-width: 160px;
        font-size: 17px;
    }
    .top-navbar .search-box+.navbar-collapse li .dropdown-menu {
        top: auto;
    }
    .alphabetchk {
        margin-bottom: 15px;
    }
    .alphabetchk:last-child,
    .answerInput-box:last-child {
        margin-bottom: 0;
    }
    .time-box span {
        font-size: 16px;
    }
    .table.table-custom>tbody>tr>td {
        min-width: 100px;
    }
    .image-text-box .image img {
        max-width: 50px;
        margin-right: 8px;
    }
    .image-text-box .caption .h4,
    .image-text-box.v2 .caption .h4 {
        font-size: 14px;
    }
    .image-text-box .caption .h2 {
        font-size: 16px;
    }
    .image-text-box.v2 .image img {
        max-width: 40px;
    }
    .owl-carousel .owl-nav {
        top: 20%;
    }
    /*.content-top-row {
        flex-wrap: wrap;
    }*/
    .content-top-row .btn-together {
        width: 100%;
    }
    .content-top-row .btn-together button {
        font-size: 12px;
    }
}


.adspot-form .form-image-check label {
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    line-height: 1;
    font-size: 12px;
    min-height: 130px;
    cursor: pointer;
    height: auto;
    color: #000;
}
.adspot-form .form-image-check label img {
    margin-bottom: 5px;
    max-width: 80px;
}
.adspot-btn-check{
    border: 1px solid black;
    margin-right: 10px;
}
.form-image-check{
    position: relative;
}
.form-image-check input:checked ~ label i {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(18,74,149,0.4);
    color: #fff;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.compaigns-wrapper .compaigns-number {
    margin-top: 20px;
}
.compaigns-content {
    border: 1px solid #034EA2;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin-bottom: 25px;
}
.compaigns-content .btn {
    color: inherit;
    text-align: left;
}
.compaigns-wrapper .compaigns-content h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.compaigns-notific{
    margin-top: 20px;
}
.compaigns-notific .notification:nth-child(odd) {
    background-color: #47057422;
    border-radius: 20px;
    scroll-margin-left: 20px;
}
.campaign-row {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}
.campaign-row .campaign-col-1 {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campaign-row .h4 {
    font-size: 18px;
    margin-bottom: 5px;
}
.campaign-row p {
    margin-bottom: 5px;
    font-size: 16px;
}
.campaign-btn {
    line-height: normal;
}

element.style {
}
.campaign-btn .btn-link {
    padding: 0;
}
.campaign-btn > span {
    font-size: 14px;
    font-weight: bold;
}
.text-muted {
    color: #0b0c0ca9 !important;
}
.mange-compaigns .search-box {
    padding: 0 15px;
    position: relative;
}
.mange-compaigns .search-box input, .mange-compaigns .search-box select {
    border: none;
}
.campaign-col-2{
    padding: 10px;
}
