/*Media-Querys */
@media (min-width: 1500px) and (max-width: 1600px){
	.plan-info .btn-plan {
	    padding: 22px 36px  27px 36px;
	}
} 
@media (max-width: 1440px){
	.middel-section .tab-content ul li .box {
	    padding: 0 20px;
	}
	.middel-section .tab-content ul li .box p {
	    margin-left: 15px;
	}
	.plan-info .btn-plan {
    	padding: 30px 45px;
	}
	ul.main-menu li {
	    margin-bottom: 60px;
	}
}
@media (max-width: 1366px){
	.middel-section .tab-content ul li .box {
	    padding: 0 15px;
	}
	.middel-section .tab-content ul li .box p {
	    margin-left: 10px;
	}
	.plan-info .btn-plan {
	    padding: 40px 25px;
	}
}
@media (max-width: 1280px){
	.middel-section .tab-content ul li .box {
	    padding: 0 10px;
	}
	.middel-section .tab-content ul li .box p {
	    margin-left: 5px;
	}
	
}
@media (max-width: 1120px){
	.middel-section .tab-content ul li {
	    line-height: 80px;
	}
	.middel-section .tab-content ul li .box {
	    padding: 0 25px;
	}
	.des-box {
		padding-left: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.notifications h3, .notifications.content .btn-link {
		margin-top: 20px;
	}
	.notifications {
		padding: 10px 20px;
	}
}
@media(min-width: 1200px) and (max-width: 1440px) {
	.des-map-box, .amenities-pane {
		max-height: 150px;
		overflow-x: hidden;
	}
	.amenities-pane {
		overflow-x: auto;
	}
}
@media(min-width: 1300px) {
	.cards{
		padding: 0 50px;
	}
	.cards .p-right{
		padding-right:50px; 
	}
	.cards .p-left{
		padding-left:10px; 
	}
}
@media(min-width: 1500px) {
	.cards{
		padding: 0 50px;
	}
	.cards .p-right{
		padding-right:110px; 
	}
	.cards .p-left{
		padding-left:20px; 
	}
}
@media (max-width: 1199px) {
	.footer-info a.btn-link {
	    margin-bottom: 25px;
	}
	.cards .col-xl-6.p-left .card-title{
		margin-top: 60px;
	}
	.descriptions-page {
    	margin-bottom: 0px;
	}
	.third-content {
		width: 100%;
	}
	.first-content {
		width: 30%;
		height: auto;
	}
	.second-content {
		width: 70%;
		height: auto;
	}
	.third-content {
		margin-top: 40px;
		padding-top: 0;
		height: auto;
	}
}
@media (max-width: 991px) {
	.middel-section .no-booking-text {
	    margin-bottom: 100px;
	}
	.sidebar-toggle {
	    width: 35px;
	    height: 25px;
	    display: inline-block;
	    position: relative;
	    left: 0px;
	    top: 0px;
	}
	.main-sidebar {
		margin-left: -120px;
		transition: all 0.5s ease-in-out;
	}
	body.sidebar-active .main-sidebar {
		margin-left: 0px;
	}
	body.sidebar-active {
		overflow-x: hidden;
	}
	.cards .px-5 {
	    padding-right: 0rem!important;
	    padding-left: 0rem!important;
	}
	.form-cost-enter {
    	padding: 20px 30px 30px;
	}
	.cost-enter {
	    padding-right: 30px;
	}
	.plan-reser-form .cost-enter a {
	    margin-left: 30px;
	}
	.resrvation-paying .pay-conference-btn {
    	margin: 25px 0 0 50px;
	}
	.resrvation-paying .pay-bottom {
	    padding: 35px 15px;
	}
	.notific-detail .add-apart-edit {
    	margin-left: 0px; 
	}
	.descriptions-page {
    	margin-bottom: 0px;
	}
	.des-box {
    	padding: 15px;
	}
	.des-border{
		border: 0;
	}
	.page-title-box.m-top-60 {
	    margin-top: 20px;
	}
	.choose-reservation.active {
		transform: translate(0);
	}
	.custom-gutters > * {
		margin-top: 40px;
	}
	.notification-accordion .accordion-body {
    	padding: 40px 20px 30px 20px;
    }
    .first-content,
	.second-content {
		padding-top: 90px;
	}
}
@media (max-width: 767px) {
	.ul-card-boxes {
		flex-wrap: wrap;
	}
	.ul-card-boxes li {
	    width: 100% !important;
	    margin-right: 0 !important;
	    margin-bottom: 20px;
	}
	.ul-card-boxes li:last-child {
		margin-bottom: 0;
	}
	.custom-gutters > * {
	    padding-left: 30px;
	    padding-right: 30px;
	    margin-top: 25px;
	}
	button.choose-reservation.active {
	    transform: translate(0, 0px);
	    min-height: unset;
	    padding: 50px;
	}
    button.choose-reservation.active .image {
	    min-height: unset;
	}
	button.choose-reservation.active img {
	    width: auto;
	}
	.notifications{
	    padding: 10px 20px;
	}
	.plan-info .btn-plan{
		width: 100%;
		margin-bottom: 20px;
	}
	.plan-info .col-xl-4 + .col-xl-4 .btn-plan{
	    margin-bottom: 0px;
	}
	.extra-info h4 {
	    font-size: 16px;
	}
	.px-5 {
	    padding-right: 0rem!important;
	    padding-left: 0rem!important;
	}
	.footer-info a.btn-link {
	    margin-bottom: 25px;
	}
	.workspace > .d-flex{
		flex-direction: column;
	}
	.workspace > .d-flex.align-items-center {
	    align-items: flex-end !important;
	}
	.workspace > .d-flex > .m-top-60 {
	    margin-top: 10px;
	}
	.des-box .middel-section .nav-pills .nav-item {
	    padding: 0;
	}
	.des-box .middel-section .nav-pills .nav-link.active, .des-box .middel-section .nav-pills .nav-link {
	    font-size: 14px;
	    padding: 10px;
	}
	.review-box{
		text-align: center;
	}
	.chose-plan {
	    min-height: auto;
	    margin: 0 0 35px;
	    text-align: center;
	}
	.cards .cards-box {
	    min-height: 220px;
	}
	.cards ul.card-list {
		padding-left: 0;
	}
	.plan-reser-form {
    	margin: 15px 0;
	}
	.cards .card-detail table.card-info tr td h4 {
		font-size: 15px;
		margin-bottom: 0;
	}
	.plan-reser-form {
	    width: 100% !important;
	    display: inline-block !important;
	}
	.cost-enter {
	    border: 0;
	    margin: 0 !important;
	    padding: 0;
	}
	.plan-reser-form .cost-enter h3, .plan-reser-form .cost-enter a {
	    margin: 15px 0;
	    width: 100%;
	    text-align: center;
	}
	.resrvation-paying .add-apart-edit {
    	padding-left: 0 !important;
	}
	.resrvation-paying .add-apart-edit .h6 {
	    margin-bottom: 5px;
	}
	.resrvation-paying .add-apart-edit .h3 {
	    font-size: 20px;
	}
	.resrvation-paying .add-apart-edit .h6 {
    	font-size: 16px;
	}
	.resrvation-paying .pay-bottom {
	    padding: 30px 0 !important;
	}
	.resrvation-paying .add-apart-img{
		margin-right: 15px;
	}
	.pay-bottom .add-apart-edit .h2 {
    	font-size: 18px;
	}
	.pay-bottom .add-apart-edit .h4 {
	    font-size: 18px;
	}
	.add-apart-edit-v2 .h2 {
    	font-size: 22px !important;
	}
	.reservation-pay-footer {
    	margin: 40px 0px;
	}


	.raservation-add-card .display-no {
		display: none;
	}

	.notification-accordion .accordion-button {
    	padding: 15px;
    	flex-wrap: wrap;
	}
	.notification-accordion .accordion-button .h6, .notification-accordion .accordion-button .h5 {
    	width: 100%;
    	margin-top: 5px;
    	padding-right: 15px;
    	text-align: left !important;
	}
	.notification-accordion .accordion-button .h5 {
	    margin-top: 0;
	}
	.notification-accordion .accordion-button::after{
		background-size: 15px;
	}
	.notification-accordion .accordion-body{
    	padding: 20px;
	}
	.notification-accordion .accordion-body .d-flex {
	    align-items: center !important;
    	flex-wrap: wrap;
	}
	.notification-accordion .notific-detail .add-apart-edit.float-start{
		float: none !important;
	}
	.notification-accordion .notific-detail {
    	margin: 10px 0 30px 0;
	}
	.notification-accordion .notific-detail img{
		margin-right: 15px;
	}
	.notific-detail-2 {
    	padding: 20px;
    	width: 100%;
	}
	.notific-detail-2 .add-apart {
    	margin-bottom: 0px;
	}
	.notific-detail-2 .float-end{
		float: none !important;
	}
	.notific-detail-2 .pay-bottom:not(:last-child){
		padding-bottom: 30px !important;
	}
	.description-plan-box{
		text-align: center;
	}
	.page-title-box a {
		width: 100%;
	    text-align: left;
	    /*padding-left: 40px;*/
	}
	.page-title-box {
	    padding: 0 15px;
	}
	.page-title-box h3, .page-title-box h4, .page-title-box .search-form {
		width: 100%;
	}
	.search-form input {
		width: 100%;
	}
	.workspace.page-title-box.d-flex {
		flex-wrap: wrap;
		flex-flow: column;
	}
	.workspace.page-title-box.d-flex>.d-flex {
		flex-flow: row;
		align-items: center !important;
	}
	.plan-reservation .h3 {
		text-align: center;
	}
	.first-content, .second-content {
		width: 100%;
		padding-top: 0;
	}
	.second-content .Reservations-tab {
		padding: 0;
	}
	.third-content {
	    padding: 0px 10px;
	    margin-top: 0;
	}
	.second-content {
		margin-bottom: 15px;
	}
	.reservation-tab-box {
	    width: 100%;
	    padding: 15px;
	    border: 1px solid #EFEAE6;
	    margin-bottom: 20px !important;
	    border-radius: 15px;
	    box-shadow: 0px 4px 50px rgba(127, 104, 88, 0.08);
	}

}

