body {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background: #f4f4f4;
    line-height: 28px;
    overflow-x: hidden;
}
button,
button:focus,
button:visited,
button:active,
button:focus-visible {
    outline: none !important;
    box-shadow: none;
}
a,a:hover, .btn-link, .btn-link:hover {
    text-decoration: none;
    color: inherit;
}
.no-btn {
    border: none;
    background: transparent;
    outline: none;
    box-shadow: none;
}
.no-scroll{
    overflow: hidden;
}
.hamburger {
    position: relative;
}
.hamburger, .hamburger:after, .hamburger:before {
    background: #495057;
    border-radius: 1px;
    content: "";
    cursor: pointer;
    display: block;
    height: 3px;
    transition: background .1s ease-in-out,color .1s ease-in-out;
    width: 24px;
}
.hamburger:before {
    position: absolute;
    top: -7.5px;
    width: 24px;
}
.hamburger:after {
    bottom: -7.5px;
    position: absolute;
    width: 16px;
}
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}
.main-sidebar {
    position: relative;
    height: 100%;
    min-width: 120px;
    max-width: 120px;
}
.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    width: 100%;
    position: relative;
}
ul.main-menu {
    text-align: center;
    padding-left: 0;
    list-style: none;
    height: 100vh;
    position: fixed;
    width: 120px;
    background-color: #fff;
}
ul.main-menu li:first-child{
    margin-bottom: 150px;
    margin-top: 60px;
}
ul.main-menu li{
    margin-bottom: 85px;
}
ul.main-menu li.active{
    position: relative;
}
ul.main-menu li:last-child{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin-bottom: 0;
}
ul.main-menu li.active:before {
    position: absolute;
    left: 20px;
    top: 1px;
    font-family: "Font Awesome 5 Pro";
    content: "\f111";
    display: inline-block;
    padding-right: 0px;
    font-weight: 900;
    font-size: 8px;
    color: #262A27;
}
ul.main-menu li a:hover svg *, ul.main-menu li.active a svg * {
    fill: #262A27;
}
.search-form {
    position: relative;
}
.search-form input{
    width: 250px;
    border: 0;
    border-radius: 10px;
    font-size: 17px;
    line-height: 25px;
    color: #CBCCD0;
    border: 2px solid transparent;
    height: 50px;
}
.search-form input::placeholder{
    color: #CBCCD0;
    font-size: 17px;
}
.search-form .btn-search {
    position: absolute;
    right: 10px;
    bottom: 20px;
    background: #7F6858;
    box-shadow: 0px 4.4878px 10px rgb(127 104 88 / 10%);
    border-radius: 13.1429px;
    color: #fff;
    font-size: 13px;
    padding: 10px 14px;
}
.search-form .btn-search.btn-change{
    background: #6F716F;
}
.btn-regular {
    font-size: 18px;
    line-height: 27px;
    padding: 7px 20px;
    background: #575957;
    border-radius: 12px;
    color: #fff;
}
.btn-lg{
    padding: 7px 45px !important; 
}
.btn-regular:hover {
    background: #3a3a3a;
    color: #fff;
}
.m-top-60{
    margin-top: 60px;
}
.btn i.fa-plus-square{
    padding-right: 20px;
    font-size: 22px;
}
.middel-section h2{
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #4A3A2F;
    clear: both;
    margin-bottom: 0;
}
.middel-section .nav-pills .nav-link.active, .middel-section .nav-pills .nav-link {
    font-size: 17px;
    line-height: 25px;
    color: #4A3A2F;
    background-color: transparent;
    position: relative;
    font-weight: 500;
}
.middel-section .nav-pills .nav-link{
    color: #989595;
}
.middel-section .nav-pills .nav-link.active{
    color: #4A3A2F !important;
}
.dusty-gray{
    color: #989595 !important;
}

.middel-section .nav-pills .nav-item{
    color: #989595;
    padding: 20px 40px 20px 0;
}
.middel-section .nav-pills .nav-link.active:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    font-family: "Font Awesome 5 Pro";
    content: "\f111";
    display: inline-block;
    padding-right: 0px;
    font-weight: 900;
    font-size: 8px;
}
.middel-section .tab-content {
    margin-bottom: 25px;
}
.tab-content ul{
    padding-left: 0;
}
.middel-section .tab-content ul li{
    display: inline-block;
    margin-right: 25px;
    width: 30%;
    line-height: 100px;
}
.middel-section .tab-content ul li:last-child{
    margin-right: 0px;
}
.middel-section .tab-content ul li .box{
    background: #ffffff;
    box-shadow: 0px 4px 20px rgb(127 104 88 / 2%);
    border-radius: 20px;
    padding: 0 20px;
}
.middel-section .tab-content ul li .box .number{
    background: rgb(207 207 207 / 20%);
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 34px;
    color: #3E432F;
}
.dark-slate{
    color: #3E432F !important;
}
.middel-section .tab-content ul li .box p{
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    margin-left: 20px;
    position: relative;
    top: 6px;
    line-height: 20px;
    font-size: 16px;
}
.middel-section .tab-content ul li .box .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F6858;
    display: block;
}
.middel-section h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4A3A2F;
}
.middel-section a.btn.btn-link{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: rgba(169, 94, 26, 0.6);
    text-decoration: none;
}
.middel-section h4{
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    color: #4A3A2F;
}
.middel-section p{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #989595;
}
.middel-section .no-booking-text{
    clear: both;
    text-align: center;
    margin-top: 120px;
}
.no-booking-text .btn-regular {
    font-size: 18px !important;
    padding: 16px 0 !important;
    text-align: center !important;
    border-radius: 9px !important;
}
.booking-text{
    clear: both;
    margin-top: 25px;
}
.profile{
    background-color: #fff;
    padding: 10px;
    text-align: center;
}
.profile img{
    padding-top: 80px;
}
.profile h3.name{
    font-weight: bold;
    font-size: 21.4127px;
    line-height: 32px;
    color: #262A27;
}
.profile .location{
    font-weight: 500;
    font-size: 14.6508px;
    line-height: 22px;
    color: #9FA09F;
}
.profile ul{
    margin-top: 50px;
    list-style: none;
    padding-left: 0;
}
.profile ul li{
    display: inline-block;
    padding: 0 15px;
}
.profile ul li .number{
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}
.profile ul li p{
    font-weight: 500;
    font-size: 14.5px;
    line-height: 22px;
    color: #CBCCD0;
}
.profile .member-login{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #989595;
}
.profile .member-id{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F6858;
    margin-left: 7px;
}
.notifications{
    padding: 10px 50px;
    height: 100%;
    background-color: #F1F1F1;
}
.notifications h3{
    text-align: left;
    font-weight: 600;
    font-size: 21.4334px;
    line-height: 32px;
    color: #4A3A2F;
    margin: 40px 0 30px 0;
}
.notifications img{
    margin: 50px 0;
}
.notifications p{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #7F6858;
}

/* 
//////////////////////////////////////////////////
Type Of Workspaces Css
//////////////////////////////////////////////////
*/

.workspace .specific-head{
    color: #3E432F;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
}

.workspace a.btn-link{
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    color: #4A3A2F;
    text-decoration: none;
}
.workspace a.btn-link:hover{
    color: #6F716F;
}
.workspace .form-box img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.workspace .form-box {
    padding-left: 0;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 13.8017px;
    padding: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    border: 0.573604px solid rgba(127, 104, 88, 0.5);
    box-sizing: border-box;
    border-radius: 11.4721px;
}
.workspace  .form-check .form-check-input {
    float: none;
    margin: 6px auto;
}
.mw-960 {
    max-width: 960px;
}
.custom-gutters {
    margin-left: -30px;
    margin-right: -30px;
}
.custom-gutters > * {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 140px;
}
.choose-reservation.active {
    transform: translate(0, -40px);
    min-height: 355px;
    justify-content: center;
    border: 1px solid #575957;
    box-sizing: border-box;
    box-shadow: 0px 4px 25px rgba(127, 104, 88, 0.08);
    filter: drop-shadow(0px 4px 25px rgba(127, 104, 88, 0.08));
    font-weight: 500;
    font-size: 20.4521px;
    line-height: 31px;
    color: #3E432F;
    padding: 30px;
}
.form-check.form-box .image {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choose-reservation.active img {
    width: 200px;
}
.choose-reservation.active .image {
    min-height: 160px;
}
.choose-reservation i {
    font-size: 10px;
    color: #7F6858;
}
.choose-reservation.active i:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f111";
    font-weight: 900;
}
.middel-section.content .booking-text table tr:hover{ 
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 4px 40px rgba(74, 58, 47, 0.05);
}
.middel-section.content .booking-text table tr td i {
    margin-right: 12px;
}
.middel-section .btn-regular{
    font-size: 20px;
    line-height: 27px;
    padding: 11px;
    background: #575957;
    border-radius: 12px;
    color: #fff;
    width: 160px;
    text-align: left;
}
.middel-section .btn-regular i{
    background-color: #EFEAE6;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #7F6858;
    margin-right: 20px;
}
.middel-section.content .booking-text table tr td:first-child{
    border-radius:12px 0 0 12px;
    padding-left:25px; 
}
.middel-section.content .booking-text table tr td:last-child{
    border-radius:0 12px 12px 0;
    padding-right:25px; 
}
.middel-section.content .booking-text table tr td ,.notifications.content table tr td{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4A3A2F;
    vertical-align: middle;
    border-bottom: 0;
    padding: 25px 5px;
}
.middel-section.content .booking-text table tr td small,.middel-section.content .booking-text table tr td i,.notifications.content table tr td small,.notifications.content table tr td i{
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #989595;
}
.middel-section.content .booking-text table tr td .btn-default ,.notifications.content table tr td .btn-default{
    background: #CBCCD0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #7F6858;
    float: right;
}
.middel-section.content .booking-text table tr td .btn-default{
    background-color: #F1F1F2;
}
.notifications.content table tr td .btn-default{
    color: #4A3A2F;
    background-color: #EAEAEA;
}
.notifications.content{
    text-align: left;
    background-color: #F1F1F1;
}
.notifications.content .btn-link{
    font-weight: 500;
    font-size: 15.0034px;
    line-height: 23px;
    color: #6F716F;
    margin-top: 40px;
    text-decoration: none;
}
.notifications.content img {
    margin-top: 0;
    margin-bottom: 0;
}
.notifications.content table tr td{
    padding: 15px 5px;
}
/*
////////////////////////////////////
Workspace page/tab
///////////////////////////////////
*/
@media (min-width: 768px){
    .workspaces-content{
        max-height: 580px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.content-box{
    background: #FCFBFA;
    border: 1px solid #EFEAE6;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(127, 104, 88, 0.03);
    border-radius: 20px;
    margin-bottom: 30px;

}
.content-box h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4A3A2F;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom:0;
}
.content-box p{
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #989595;
    padding-left: 15px;
}
.content-box table, .des-box table{
   margin-bottom:30px;  
   margin-top:40px;
   width: 100%;
}


.content-box table tr td, .des-box table tr td{
    padding-left: 15px;
    font-size: 12px;
    line-height: 18px;
    color: #989595;
    padding-bottom: 10px;
    vertical-align: bottom;
}
.content-box table tr td:nth-child(2), .des-box table tr.rating td:first-child{
    font-weight: 600;
    font-size: 13.4618px;
    line-height: 17px;
    color: #6F716F;
}
.des-box .rating .rating-star{
    color: #B7B8B7;
    font-size: 11.61px;
    margin-top: 3px;
}


/*.des-box table tr.rating td.change-color {
    color: #c4a287;
}*/
.content-box table tr td > i,.des-box table tr td > i{
    margin-right: 10px;
}
.content-box img{
    width: 100%;
}
/*
///////////////////////////////////////
Workspaces Description
//////////////////////////////////////
*/
.descriptions-page .thumbnail-single img{
    border-radius: 30.6093px;
    width: 100%;
    margin-bottom: 30px;
}
.descriptions-page .thumbnail-small img{
    border-radius: 15px;
    cursor: pointer;
}
.descriptions-page .thumbnail-small ul{
    margin-bottom: 23px;
}
.descriptions-page .show-more-photo ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F6858;
}
.descriptions-page .show-more-photo ul li a i{
    font-weight: 300;
    font-size: 15px;
    margin-right: 10px;
    background: #EFEAE6;
    padding: 5px 7px;
    border-radius: 5.6px;
}
.descriptions-page .show-more-photo ul li a.btn-default {
    background: #f4f4f4;
    border: 1px solid #C4A287;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #C4A287;
    padding: 15px 20px 10px;
}
.des-box{
    padding-left: 30px;
}
.des-box table{
    margin-bottom: 0;
    margin-top: 0;
}
.des-box table tr td h3{
    font-weight: 600;
    font-size: 23.4515px;
    line-height: 35px;
    color: #4A3A2F;
    margin-bottom: 0;
}
.des-box table tr td small{
    font-weight: 500;
    font-size: 15.2435px;
    line-height: 21px;
    color: #989595;
}
.des-box table tr td .btn{
    font-weight: 500;
    font-size: 14.0709px;
    line-height: 21px;
    color: #C4A287;
    background: #EFEAE6;
    border-radius: 14px;
    padding: 15px;
}
.des-box table tr td{
    padding-bottom: 30px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 14.0709px;
    line-height: 21px;
    color: #989595;
}
.des-box .tab-content {
    padding-left: 0px;
    /*height: 180px;
    overflow: auto;*/
}
.des-box .tab-content p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #989595;
    margin-bottom: 0px;
}
.des-box .middel-section .nav-pills .nav-item {
    padding: 0px 40px 20px 0;
}
.extra-info p{
    font-weight: normal;
    font-size: 14.0709px;
    line-height: 21px;
    color: #989595;
    margin-bottom: 4px;
}
.extra-info h4{
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #4A3A2F;
}
.plan-info .btn-plan {
    color: #fff;
    padding: 40px 60px;
    text-align: left;
    background: rgba(87, 89, 87, 0.9);
    border-radius: 13px;
    width: 100%;
}
.plan-info .btn-plan.btn-plan-not-active {
    background-color: rgba(159, 160, 159, 0.6);
}
.plan-info .btn-plan:hover {
    background: rgba(87, 89, 87, 0.9);
}
.plan-info .btn-plan strong{
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    margin-right: 10px;
}
.plan-info .btn-plan span{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.plan-info .btn-plan p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #EFEAE6;
    margin-bottom: 0;
    position: relative;
}
.plan-info .btn-plan p:after {
    content: '';
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background-color: #EFEAE6;
    position: absolute;
    left: 0;
    bottom: -7px;
}
.plan-info .col-xl-4 + .col-xl-4 .btn-plan{
    background: #575957;
    opacity: 0.6;
    border: 1px solid #9FA09F;
    box-sizing: border-box;
    border-radius: 13px;
}
.footer-info{
    margin: 30px 0;
}
.footer-info p{
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: #989595;
    margin-bottom: 0;
}
.footer-info a.btn-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #6F716F;
    padding: 0;
    position: relative;
}
..footer-info a.btn-link:hover{
    color: #6F716F;
}
.footer-info a.btn-link:after{
    content: '';
    width: 110px;
    height: 2px;
    background-color:#7F6858;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.footer-info a.btn-cancel{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9FA09F;
}
.footer-info a.btn-cancel.btn-link:after{
    background-color:#9FA09F;
}
/*
////////////////////////////////////////////////////
Review Box
///////////////////////////////////////////////////
*/
@media (min-width: 768px){
   .review-box{
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.review-box p{
    position: relative;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 30px !important;
    color: #6D6969 !important;
    padding: 20px;
}
.review-box p:before{
    position: absolute;
    left: 0;
    top:0;
    font-family: "Font Awesome 5 Pro";
    content: "\f10e";
    color: #C4A287;
    display: inline-block;
    padding-right: 0px;
    font-weight: 900;
    font-size: 15px;
    transform: rotateY(180deg);
}
.review-box p:after{
    position: absolute;
    right: 20px;
    bottom:0px;
    font-family: "Font Awesome 5 Pro";
    content: "\f10e";
    color: #C4A287;
    display: inline-block;
    padding-right: 0px;
    font-weight: 900;
    font-size: 15px;
}
.review-box img{
    border-radius: 100%;
}
.descriptions-page iframe{
    border-radius: 10px;
}
.amenities-pane{
    max-width: 100%;
    overflow: auto;
    white-space: nowrap; 
}
ul.amenities li.box{
    background-color: #fff;
    width: 150px;
    box-sizing: border-box;
    border-radius: 20px;
    line-height: normal;
    text-align: center;
    display: inline-flex;
    min-height: 140px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
ul.amenities li.box{
    border: 0.1px solid rgb(241, 193, 157, 0.2);
}
ul.amenities li.box div{
    min-height: 50px;
}
ul.amenities li.box h3{
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #4A3A2F;
}
ul.amenities li.box img{
    /*margin-top: 55px;
    margin-bottom: 20px;*/
}
.review-model .modal-content{
    border-radius: 12px;
}
.review-model .modal-header{
    padding: 0;
}
.review-model .modal-header .btn-closes {
    padding: 4px 12px 3px;
    margin: -0.5rem -0.5rem -0.5rem auto;
    position: relative;
    top: -35px;
    left: 15px;
    font-size: 16px;
    border-radius: 100%;
    border: 0;
    background: #CFCFCF;
}
.review-model .rating-wrapper {
    align-self: center;
    box-shadow: none;
    border-radius: 5rem;
    display: inline-flex;
    direction: rtl !important;
    padding: 0;
    margin-left: auto;
}
.review-model label {
    color: #E1E6F6;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    padding: 1rem .2rem;
    transition: color 0.5s;
}  
.review-model label i{
    font-size: 28px;
}
.review-model svg {
 -webkit-text-fill-color: transparent;
 -webkit-filter: drop-shadow (4px 1px 6px rgba(198, 206, 237, 1));
 filter:drop-shadow(5px 1px 3px rgba(198, 206, 237, 1));
}
.review-model input {
height: 100%;
width: 100%;
}
.review-model input {
display: none;
}
.review-model label:hover,
.review-model label:hover ~ label,
.review-model input:checked ~ label  {
color: #C4A287;
}
.review-model label:hover,
.review-model label:hover ~ label,
.review-model input:checked ~ label  {
color: #C4A287;
}
.review-model form h3{
    font-weight: 500;
    font-size: 20.4521px;
    line-height: 31px;
    color: #4A3A2F;
    margin:20px 0;
}
.review-model form h4 {
    font-weight: 500;
    font-size: 20.4521px;
    line-height: 31px;
    color: #4A3A2F;
    margin-top: 34px;
    margin-bottom: 0;
}
.review-model form textarea{
    background: #EFEAE6;
    border-radius: 10px;
    min-height: 130px;
    margin: 0 0px;
}
.review-model .modal-body {
    padding:33px 53px;
}
.modal-body .btn-submit{
    display: block;
    width: 100%;
    margin-top: 37px;
    background: #3E432F;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20.4521px;
    line-height: 45px;
    color: #FFFFFF;
    height: 85px;
}
.modal-body .btn-submit:hover{
    color: #ffffff;
}
.modal-body p{
    margin-bottom: 0;
    margin-top: 20px;
}
.cancel-review-model p{
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px;
    color: #7F6858 !important;
}
.cancel-review-model a.btn-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A95E1A;
    text-decoration: none;
    padding: 0;
}
.cancel-review-model textarea{
    margin-bottom: 20px;
}
.cancel-review-model .btn-submit{
    background: #575957;
}
/*
//////////////////////////////////////////////////
Cards
/////////////////////////////////////////////////
*/
.cards > .d-flex > h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A3A2F;
}
.cards > .d-flex > h4{
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    color: #3E432F;
}
.cards .cards-box {
    background: #CFCFCF;
    border-radius: 13.0588px;
    min-height: 280px;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(0px 2.84238px 28.4238px rgba(74, 58, 47, 0.2));
    margin-bottom: 30px;
}
.cards ul.card-list li.active .cards-box, .cards .card-detail .cards-box{
    background: #262A27;
}

.cards ul.card-list{
    list-style: none;
    padding-left: 80px;
    counter-reset: ol-counter;
    position: relative;
}
.cards .plus-card-btn i{
    font-weight: 500;
    font-size: 24px;
    background: #fff;
    box-shadow: 0px 4px 30px rgba(74, 58, 47, 0.08);
    padding: 20px 24px;
    border-radius: 100%;
    cursor: pointer;
    color: #4A3A2F;
}
.cards ul.card-list li{
    position: relative;
    counter-increment: ol-counter;
    cursor: pointer;
}
.cards ul.card-list li:before{
    content: counter(ol-counter) ".";
    position: absolute;
    left: -75px;
    top: 0;
    bottom: 0;
    line-height: 285px;
    font-size: 14.7757px;
    color: #4A3A2F;
}
.cards .cards-box table{
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0px;
    right: 0px;
}
.cards .card-detail table{
    width: 100%;
}
.cards .cards-box table tr td{
    font-weight: 500;
    font-size: 14.9225px;
    line-height: 22px;
    color: #4A3A2F; 
    padding: 0 45px;
}
.cards .card-detail .cards-box table tr td{
    color: #fff; 
}
.cards .active .cards-box table tr td{
    color: #fff;
}
.cards .cards-box table tr td small{
    font-weight: 500;
    font-size: 11.3695px;
    line-height: 17px;
    color: #7F6858;
}
.cards .card-detail .cards-box table tr td small{
    color: #C0BEBA;
}
.cards .active .cards-box table tr td small{
     color: #C0BEBA;
}
.cards .cards-box table tr td p{
    margin-bottom: 0;
}
.cards .cards-box table tr td:nth-child(2) p{
    font-style: italic;
    font-weight: 600;
    font-size: 17.0543px;
    line-height: 26px;
    color: #7F6858;
    text-align: right;
}
.cards .active .cards-box table tr td:nth-child(2) p{
    color: #F1C19D;
}
.cards .card-title{
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #7F6858;
    margin-bottom: 40px;
}
.cards .card-detail > div{
    display: none;
}
.cards .card-detail > div.active{
    display: block;
}

.cards .card-detail table.card-info tr{
    border-bottom: 1px solid #EFEAE6;
}
.cards .card-detail table.card-info tr td{
    padding: 30px 0;
}
.cards .card-detail table.card-info tr td p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #989595;
    margin-bottom: 0;
}
.cards .card-detail table.card-info tr td h4{
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #6F716F;
    text-align: right;
    margin-bottom: 0;
}
.cards .card-detail table.card-info tr td .btn-delete{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6F716F;
    border:0;
    padding: 0;
}
.cards .card-detail table.card-info tr td .btn-delete i{
    margin-right: 10px;
}
.btn-check:focus+.btn, .btn:focus, .form-control:focus {
    box-shadow: none;
}

.description-plan-box{
    background-color: #F6F6F6;
    padding-top: 50px;
}
.descriptions-page{
    margin-bottom: -20%;
}
.middel-section .res_tab{
    margin-bottom: 7px;
}
.des-border{
    border-left: 1px solid #F5F1ED;
}
.color-misty{
    color: #B7B8B7 !important;
}










    
/*.chose-plan{
    margin-bottom: 0;
    align-items: center;
    min-height: 400px;
}*/
.current-plan{
    margin: 40px 0;
}
.chose-plan{
    margin-top: 110px;
    min-height: 350px;
}
.chose-plan .h6{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #7F6858;
    margin-bottom: 10px;
}
.chose-plan .h2{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #4A3A2F;
}

.chose-plan p{
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #989595;
}
.plan-reservation .h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 36px;
    color: #4A3A2F;
    margin-bottom: 0;
}
.plan-reser-form .form-control{
    background-color: transparent;
    border-radius: 5px;
    border: 0.7px solid #C4A287;
    color: #989595;
    padding: 2px;
    width: 60px;
}
.plan-reser-form{
    background-color: #ffffff;
    border-radius: 13px;
    padding-bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(152, 149, 149, 0.03);
}
.reser-form-border{
    border-bottom: 1px solid rgba(241,193,157,0.3);
    padding: 20px 27px 15px 40px;
}
.reser-form-border .h5{
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #7F6858;
    margin-bottom: 0px;
    margin-top: 10px;
}
.expire-date h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #7F6858;
    margin: 15px 0;
}
.expire-date span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #989595;
}
.expire-date .form-date-exp {
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 20;
    font-weight: 400;
    padding: 14px 23px;
    border: 0.7px solid #EFEAE6;
}
.plan-reser-form .input-group > input {
    background-color: transparent;
    border: 0.7px solid #EFEAE6 !important;
    color: #989595;
    outline: none;
    border-radius: 13px;
    width: 100%;
    height: 48px;
    padding: 10px 0 10px 23px;
    border-radius: 5px !important;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
    box-shadow: none;
}

.plan-reser-form .qty-input-group [type="button"] {
    background: #878987;
    border: 1px solid #878987;
    border-radius: 4px !important;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.qty-input-group .btn-together {
    position: absolute;
    right: 5px;
}
.plan-reser-form .cost-enter h4{
    color: #7F6858;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 18px;
}
.plan-reser-form .cost-enter h3, .plan-reser-form .cost-enter a{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #3E432F;
    background-color: #FAFAFA;
    padding: 20px 25px;
    width: 150px;
    border-radius: 13px;
    margin-bottom: 0px;
}
.plan-reser-form .cost-enter a{
    color: #ffffff;
    background-color: #575957;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 45px;
    margin-bottom: 0px;
    border-radius: 6px;
    width: 160px;
    margin-left: 60px;
}
.cost-enter{
    border-right: 1px solid rgb(196, 162, 135, 0.2);
    padding-right: 60px;
}
.form-cost-enter{
    padding: 30px 60px 30px 47px;
}
/*.mw-540{
    max-width:540px
}*/

input[type="date" i].form-date::-webkit-calendar-picker-indicator {
    background-image: url('../images/calendar-dark.svg');
    width: 1.5rem;
    height: 1.5rem;
}
input[type="time" i].form-date::-webkit-calendar-picker-indicator {
    background-image: url('../images/clock.png');
    width: 1.5rem;
    height: 1.5rem;
}
/*reservation-payment-model*/
.text-darkbrown {
    color: #4A3A2F !important;
}
.resrvation-paying .paying-heading{
    margin: 40px 0 15px;
}
.resrvation-paying .paying-heading .h1{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}
.resrvation-paying .add-apart-edit .h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
}
.resrvation-paying .add-apart-edit .h6{
    font-size: 18px;
    font-size: 18px;
    line-height: 27px;
    color: #4A3A2F;
    margin-bottom: 12px;
}
.resrvation-paying .add-apart-edit {
    padding-left: 27px;
}
.resrvation-paying .rating-star {
    font-size: 12px;
}
.resrvation-paying .pay-conference-btn .btn {
    font-size: 18px;
    line-height: 27px;
    padding: 10px;
    width: 200px;
}
.resrvation-paying .pay-conference-btn {
    background-color: rgb(239, 234, 230, 0.3);
    display: inline-block;
    border-radius: 5px;
    margin: 50px 0 0 80px;
}
.cocoa-grey{
    color: #7F6858 !important;
}
.resrvation-paying .pay-bottom {
    border-bottom: 1px solid rgba(127, 104, 88, 0.3);
    display: inline-block;
    width: 100%;
    padding: 60px 15px 50px;
}
.pay-bottom .add-apart-edit .h4 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 20px;
}
.pay-bottom .add-apart-edit .h2 {
    font-size: 25px;
    line-height: 37px;
    font-weight: 500;
}
.add-apart-edit-v2 .h2{
    font-size: 28px !important;
    line-height: 42px !important;
    font-weight: 700 !important;
}
.reservation-pay-footer {
    margin: 56px 15px;
}
.reservation-pay-footer .cancel-pay-btn {
    border: 1.4px solid #CBCCD0;
    border-radius: 5px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    padding: 15px;
    margin-right: 36px;
    width: 167px;
    text-align: center;
    color: #6D6969;
}
.reservation-pay-footer .pay-btn {
    background-color: #575957;
    border: none;
}
.teammates-form .reser-form-border{
    padding: 30px 40px;
}
.teammates-form .h4, .teammates-form .cost-enter .h4{
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin: 0 0 12px 0;
}
.teammates-form .input-group{
    margin-bottom: 35px;
}
.reser-form-border .cost-enter{
    border: none;
}
.plan-reser-form .cost-enter h3{
    border-radius: 5px;
}
.team-form-btn .cost-enter{
    background-color: #FDFDFD;
    border: 0;
    padding: 30px 0 22px 0;
    border-radius: 0 0 6px 6px;
}
.team-form-btn .cost-enter .btn{
    width: 136px;
    margin:0;
    color: #ffffff;
    background-color: #575957;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    border-radius: 6px;
}
.teammates-form{
    padding-bottom: 0px;
}
.teammates-Reservation .h3{
    text-align: center;
    font-size: 23px;
    padding-bottom: 30px;
}
/*reservation-transection*/
/*.second-section .select-month{
    margin: 45px auto;

}*/
.main-content .select-month .h4{
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #4A3A2F;
    margin-bottom: 5px;
}
.main-content .select-month p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #7F6858;
    margin-bottom: 0;
}

.second-section .select-month{
    background-color: rgba(241,193,157,0.3);
    border-radius: 15px;
    width: 110px;
    height: 110px;
    text-align: left;
    margin: 24px auto;
    opacity: 0.5;
}
.second-section .nav-pills .nav-link.active, .second-section .nav-pills .show>.nav-link{
    opacity: 1;
    background-color: rgba(241,193,157,0.3);
    box-shadow: 0px 4px 40px rgb(74 58 47 / 5%);
}
.second-section .select-month:hover{
    opacity: 1;
}
.select-month{
    padding: 0 0 0 30px;
}
.second-section .nav-pills .h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A3A2F;
    margin: 70px 0;
}
.bg-whisper{
    background-color: #FAFAFA !important;
}
.bg-white-smoke{
    background-color: #F6F6F6 !important;
}
.pointer {
    cursor: pointer;
}
.Reservations-tab .nav-pills .nav-link.active, .middel-section .nav-pills .nav-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #C0BEBA;
    background-color: transparent;
    position: relative;
}
.Reservations-tab .nav-pills .nav-item{
    color: #989595;
    padding: 20px 20px 20px 0;
}
.Reservations-tab .nav-pills .nav-item .active{
    color: #4A3A2F !important;
}
.Reservations-tab{
    padding-top: 150px;
}



.pay-bottom-v2 .h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4A3A2F;
    margin-bottom: 0px;
}
.pay-bottom-v2 .h6 {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #989595;
    margin-bottom: 0;
}
.pay-bottom-v2 .h5 {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #7F6858;
    margin-bottom: 0;
}
.pay-bottom-v2 .add-apart-img{
    margin-right: 20px;
}
.pay-bottom-v2 .tab-content {
    margin-bottom: 0;
}
.reservation-tab-box{
    width: 100%;
    padding: 20px;
    border: 1px solid #EFEAE6;
    border-radius: 15px;
    box-shadow: 0px 4px 50px rgba(127, 104, 88, 0.08);
}
.pay-bottom-v2 td .pay-conference-btn {
    background-color: rgba(203,204,208,0.2);
    display: inline-block;
    border-radius: 10px;
    font-size: 11px;
    padding: 8px;
    width: 96px;
    font-weight: 500;
    line-height: 16px;
    color: #7F6858;
}
.pay-bottom-v2 td .pay-conference-btn {
    font-size: 11px;
    padding: 8px;
    width: 96px;
    font-weight: 500;
    line-height: 16px;
}
.pay-bottom-v2 td{
    border: 0;
}
.pay-bottom-v2 td .img{
    width: 100%;
}

/*new-css*/
.member-id-top .h3{
    color: #989595;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}
.member-id-top span{
    font-weight: 500;
    font-size: 22.7px;
    line-height: 34px;
    color: #7F6858;
    margin-left: 17px;
}
.raservation-login i{
    font-size: 15px;
    color: #4A3A2F;

}
.raservation-login a {
    background-color: #ffffff;
    padding: 5px 13px;
    border-radius: 25px;
    position: absolute;
    right: 12px;
    top: 100px;
}
.profile-img {
    position: relative;
}
.profile-login .form-label {
    padding: 0 10px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #989595;
    margin-bottom: 0;
}
.profile-login .form-group {
    border-bottom: 1.2px solid #C0BEBA;
    margin-bottom: 37px;
}
.profile-login .form-control {
    padding: 8px 10px;
    font-weight: 400;
    line-height: 30px;
    color: #3E432F;
    background-color: inherit;
}
.bg-seashell{
    background-color: #FCFBFA;
}
.profile-update-btn .btn{
    color: #ffffff;
    background-color: #575957;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 15px 45px;
    margin-bottom: 0px;
    border-radius: 10px;
    width: 200px;
}
.reser-calendr-img, .reser-time-img {
    border: 0.7px solid #C4A287;
    border-radius: 5px;
    width: 36px;
    display: flex;
    align-items: center; 
    height: 36px;
}
.reser-calendr-img img, .reser-time-img img {
    width: 15px;
    margin: 0 auto;
}
.bg-lite-gray{
    background-color: #FAFAFA;
}
.teammates-reservation .h3{
    padding-bottom: 30px !important;
}
.teammates-reservation .cost-enter {
    padding-right: 0px;
}
.teammates-reservation .cost-enter h3{
    width: 100%;
}
.teammates-reservation .qty-input-group .btn-together {
    right: 10px;
}
.bg-cultured{
    background-color: #F4F4F4;
}



.add-card-head{
    margin: 20px 0 50px;
}
.add-card-head .h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #4A3A2F;
    margin-bottom: 14px;
}
.add-card-head p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #989595;
    margin-bottom: 0;
}
.raservation-add-card .secured-by{
    margin-bottom: 50px;
}
.raservation-add-card .form-control{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #989595;
}
.raservation-add-card .form-label {
    padding: 0 10px;
}
.raservation-add-card .form-group {
    margin: 18px 0 50px;
}
.raservation-add-card .profile-update-btn .btn{
    width: 100%;
}
.raservation-add-card .profile-update-btn{
    margin: 10px 0 23px;
}
.raservation-add-card .secured-by .h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4A3A2F;
}
.raservation-add-card .secured-by .h5 i{
    padding-right: 10px;
}
.notific-unread .h5{
    font-weight: 500;
    font-size: 16px;
    color: #4A3A2F;
}
.notific-unread span{
    background-color: #EFEAE6;
    font-weight: 500;
    font-size: 8.8px;
    line-height: 13px;
    color: #4A3A2F;
    padding: 10px;
    margin-left: 15px;
    border-radius: 20px;
}
.notific-dropdown .form-select{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #7F6858;
    background-color: inherit;
    padding: 19px 40px 17px 37px;
    width: 170px;
    border-radius: 6px;
    background-position: right 20px center;
    background-image: url(../images/selection-arrow-grey-.svg);
    background-size: inherit;

}
.notific-dropdown .form-select option{
    background-color: #ffffff;
    padding: 30px 0 37px 30px !important;
}
.notific-dropdown .form-select:focus {
    box-shadow: none;
    color: #7F6858;
}

.bg-gray98{
    background-color: #FAFAFA;
}
.notification-accordion .accordion-button .h6{
    margin: 0 auto;
    color: #7F6858;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.notification-accordion .accordion-button {
    background-color: rgb(183, 184, 183, 0.08);
    border-radius: 15px !important;
    padding:35px 45px;
}
.notification-accordion .accordion-item {
    background-color: inherit;
    border: 0px;
    overflow: hidden;
}
.notification-accordion .accordion-button .h5{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #C4A287;
}
.notification-accordion .accordion-button::after{
    margin-left: inherit !important;
    background-image: url(../images/accordion-arrow-top.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
}
.notification-accordion .accordion-button:not(.collapsed)::after {
    background-image: url('../images/accordion-arrow-bottom.svg');
    transform: rotate(0deg);
}
.notification-accordion .accordion-button:focus{
    box-shadow: none;
    border: none;
}
.notific-detail .add-apart-edit{
    margin-left: 20px;
}
.notific-detail .add-apart-edit .h6{
    font-weight: 400;
    font-size: 15.4px;
    line-height: 23px;
    color: #4A3A2F;
}
.notific-detail .add-apart-edit p{
    font-weight: 400;
    font-size: 10.6px;
    line-height: 16px;
    color: #989595;
}
.notification-accordion .accordion-body{
    padding: 50px 45px 40px 45px;
    background-color: rgb(183, 184, 183, 0.08);
}
.notific-detail-2{
    width: 480px;
    background-color: #FCFBFA !important;
    padding: 36px 38px 33px 35px;
    border-radius: 15px;
}
.notific-detail-2 .add-apart-edit .h3{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.notific-detail-2 .add-apart-edit .minus {
    color: #4A3A2F;
    font-weight: bold;
    margin: 0 20px;
    width: 12px;
    bottom: 3px;
    position: relative;
}
.notific-detail-2 .pay-conference-btn .btn{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    padding: 8px;
    width: 96px;
}
.notific-detail-2 .pay-conference-btn{
    background-color: rgb(203, 204, 208, 0.2);
    display: inline-block;
    border-radius: 5px;
}
.notific-detail-2 .add-apart-edit .h4{
    font-weight: 400;
    font-size: 11px !important;
    line-height: 16px;
    color: #989595;
    margin-bottom: 4px;
}
.notific-detail-2 .add-apart-edit .h2{
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #4A3A2F;   
}
.notific-detail-2 .rating-star p{
    font-weight: 600;
    font-size: 13.4px;
    line-height: 20px;
    color: #7F6858;
    margin-bottom: 0px;
}
.notific-detail-2 .rating-star i{
    font-size: 11.6px;
    color: #F1C19D;
}
.accordion-item .accordion-button:not(.collapsed){
    box-shadow: 0px 20px 20px rgb(74 58 47 / 5%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}




.modal-dialog .h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.modal-dialog p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #989595;
}
.modal-body {
    padding: 70px 15px 90px 15px
}
.short-stay-btn {
    background-color: #FBF6F3;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 50px 0px;
}
.modal-content .short-stay-btn .btn{
    font-weight: 500;
    font-size: 20.4px;
    line-height: 31px;
}
.modal-content .short-stay-btn i{
    font-size: 14px;
    color: #7F6858;
}
.popupbox .modal-content {
    padding: 44px 0 0;
    border-radius: 15px;
}
.fw-600{
    font-weight: 600 !important;
}
.pay-bottom-v2 .rating-star{
    color: #F1C19D;
    font-size: 11.6px;
}
.pay-bottom-v2 .img-2{
    margin-right: 12px;
}
.pay-bottom-v2 .rating-star .green-circle{
    color: #9AE59D;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 8px;
}
.pay-bottom-v2 .table{
    margin-bottom: 0px;
}
.third-content{
    padding-left: 45px;
    padding-right: 45px;
}
.notification-accordion .search-box {
    padding: 0 15px;
    position: relative;
}
.notification-accordion .input-modal {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 11;
    top: 0;
    left: 0;
    min-width: 170px;
    display: none;
}
.notification-accordion .input-modal ul{
    border: 1.5px solid rgba(196, 162, 135, 0.2);
}
.notification-accordion .search-box input, .notification-accordion .search-box select {
    padding: 10px 25px;
    border: 1.5px solid rgba(196, 162, 135, 0.2);
    border-radius: 7px;
    height: 56px;
}
.form-control:active, .form-control:focus, .form-control:visited {
    outline: none;
    box-shadow: none;
    border: 2px solid #000000;
    color: #4A3A2F;
}
.notification-accordion .search-box button {
    height: 70px;
    padding: 10px 30px;
    width: 100%;
    text-align: left;
}
.notification-accordion .input-modal li button {
    padding: 20px 30px;
    width: 100%;
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #7F6858;
    height: auto;
}
/* profile pic change*/

.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 125px;
    height: 125px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
}

.profile-pic .-label {
    cursor: pointer;
    height: 125px;
    width: 125px;
    position: relative;
}

.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}

.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
    align-items: center;
}

.profile-pic-box {
    position: relative;
}
.profile-pic p {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background: #fff;
    right: 10px;
    bottom: -10px;
    box-shadow: 0px 2.51537px 18.8653px rgba(74, 58, 47, 0.08);
}
.profile-form .form-control {
    font-size: 24px;
    line-height: 36px;
    color: #7F6858;
}
.profile-form .form-control::placeholder {
    color: #7F6858;
}
.page-title-box a.btn-link, .page-title-box h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #4A3A2F;
    padding-left: 0;
}
.page-title-box a.btn-link:hover {
    color: #4A3A2F;
}
.fs-19 {
    font-size: 19px !important;
}
.descriptions-page .tab-content {
    margin-bottom: 30px;
}
.des-box table tr td {
    padding-left: 0;
}
.descriptions-page .nav-pills .nav-link, .middel-section .nav-pills .nav-link {
    padding-left: 0;
    padding-right: 0;
}
.descriptions-page .res_tab {
    margin-bottom: 0;
}
.other-tab-pane .bg-cultured {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 25px;
    margin-top: 10px;
}
.middel-section .btn-regular.home-book-now-btn {
    padding: 8.5px 12px;
    line-height: inherit;
}
.reservation-tab-content.tab-content {
    margin-bottom: 0;
}
.content-box-table .content-box-table-td-2 {
    padding-left: 0;
    padding-right: 15px;
}
.content-box table.content-box-table tr td > i {
    margin-right: 5px;
}
.gutters-15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.gutters-15 > * {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.content-box-table {
    margin: 30px 0 15px 0 !important;
}







.third-content-baner .image{
    position: relative;
}
.third-content .badge-content{
    position: absolute;
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
    bottom: 20px;
    right: 20px !important;
    top: inherit !important;
    background: #CBCCD0;
    border-radius: 10px !important;
    padding:0;
}
.third-content .badge-content .btn{
    color: #7F6858;
    padding: 8px 14px 6px 19px;
}
.third-content .resrvation-paying .pay-bottom .h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4A3A2F;
}
.third-content .resrvation-paying .pay-bottom .h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #989595;
    margin-bottom: 8px;
}
.third-content .resrvation-paying .pay-bottom .h5{
    font-weight: 600;
    font-size: 13.4px;
    line-height: 20px;
    color: #7F6858;
}
.third-content .resrvation-paying .pay-bottom .h4{
    font-weight: 500;
    font-size: 15.5px;
    line-height: 23px;
    color: #7F6858;
}
.third-content .resrvation-paying .pay-bottom .h4 i{
    margin-right: 10px;
}
.third-content .resrvation-paying .pay-bottom .h4 span{
    font-size: 18px;
    font-weight: 600;
}
.third-content .resrvation-paying .pay-bottom .h4 img{
    margin-right: 10px;
    margin-bottom: 4px;
}
.third-content .resrvation-paying .pay-bottom{
    padding: 27px 0 29px 0;
    border-color: #CBCCD0;
}
.third-content .resrvation-paying{
    padding: 20px 0 50px;
}
.third-content .resrvation-paying .pay-bottom .rating-star{
    color:#F1C19D;
    font-size: 11.6px;
}
.resrvation-paying .pay-botom-1,.resrvation-paying .pay-botom-2{
    position: relative;
}
.resrvation-paying .pay-botom-1::before, .resrvation-paying .pay-botom-2::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 72px;
    height: 4px;
    background: #F1C19D;
    border-radius: 10px;
    bottom: -1px;
}
.resrvation-paying .pay-botom-2::before{
    right: 0;
    background: #C4A287;
}
.popupbox .modal-content{ 
    border-radius: 15px; 
    padding: 40px 0 0;
}
.popupbox .modal-content{
     padding: 30px 0 0;
}
.popupbox {
    background: rgba(74, 58, 47, 0.4);
}
.popupbox .modal-header p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}
.popupbox .modal-header .btn-close {
    position: absolute;
    right: -200px;
    top: -50px;
    opacity: 1;
}
.popupbox .modal-body {
    padding: 45px 15px 60px 15px;
}
.popupbox .short-stay-btn {
    background-color: #F5F5F5;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 40px 0;
}
.border-none {
    border: none;
}
.transactions-content .nav-pills .nav-link,
.transactions-content .nav-pills .nav-item .active {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}
.transactions-content .nav-pills .nav-link.active:after {
    bottom: -10px;
    font-size: 6px;
}
.transactions-content .Reservations-tab .nav-pills .nav-item {
    padding-right: 0;
    padding-left: 0;
}
@media (min-width: 1200px) {
    .first-content {
        width: 20%;
    }
    .second-content, .third-content {
        width: 40%;
    }
}
@media (min-width: 768px) {
    .transactions-header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }
    .first-content, .second-content, .third-content {
        height: 100%;
        padding-top: 150px;
    }
    .more-card-boxes {
        width: 100%;
        max-width: 2000px;
        overflow-x: auto;
    }
    .more-card-boxes li {
        min-width: 33%;
        margin-bottom: 20px;
    }
}