/*Media-Querys*/
@media (min-width: 521px) {
	.mr-card-list .meeting-hour .hour-select-box {
	    padding: 10px 10px 10px;
	}
	.mr-card..mr-card-list .caption span {
	    margin-bottom: 7px;
	}
	.mr-card.mr-card-list > * {
	    height: 100%;
	}
	.mr-card.mr-card-list .caption {
	    padding: 0 !important;
	    width: 100%;
	}
	.mr-card.mr-card-list .image, .mr-card.mr-card-list .image img {
	    min-width: 190px;
	    max-width: 190px;
	    min-height: 190px;
	    border-radius: 4px;
	    object-fit: cover;
	    object-position: center;
	}
	.mr-card.mr-card-list .caption > p:not(.text-darkbrown) {
	    font-weight: 600;
	    font-size: 12px;
	    line-height: 150%;
	    color: #565656;
	    margin-top: 6px;
	}
	.mr-card.mr-card-list .caption span {
	    margin-bottom: 6px;
	    font-size: 9px;
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1rem;
	    padding-left: 1rem;
	}
	.login-page .smart-container .column-1 {
		width: 45%;
	}
	.login-page .smart-container .column-2 {
		width: 55%;
	}
	.meeting-search-section .smart-container .column-1 {
	    flex: 0 0 590px;
	    width: 59%;
	}
	.meeting-search-section .smart-container .column-2 {
		width: 41%;
	}
	.search-section.meeting-search-section .search-box-2 > .form-control,
	.search-section.meeting-search-section .search-box-4 > .form-control {
	    width: 105px;
	}
	.search-section.meeting-search-section .search-box-1 > .form-control {
	    width: 180px;
	}
	.search-section.meeting-search-section .search-box-3 > .form-control {
	    width: 145px;
	}
}
@media(min-width: 1200px) {
	.container {
		max-width: 1180px;
	}
	.smart-container .column-1 {
	    flex: 0 0 500px;
	    width: 45%;
	    margin-left: auto;
	    padding-right: 65px;
	}
	.login-page .smart-container .column-1 {
	    flex: 0 0 590px;
	    width: 50%;
	    margin-left: auto;
	    padding-right: 65px;
	}
	.smart-container .column-50{
		width: 50%;
	}
	.smart-container .column-2 {
		width: 55%;
	}
	.smart-container .log-column-2{
		width: 50%;
	}
	.meeting-content {
		padding: 0 80px;
	}
	.medium-padding {
		padding: 80px 0;
	}
	.section.section-medium {
		padding: 80px 0;
	}
	.meeting-search-section .smart-container .column-1 {
	    flex: 0 0 590px;
	    width: 50%;
	    padding-right: 20px;
	}
	.meeting-search-section .smart-container .column-2 {
		width: 50%;
	}
}
@media (max-width: 1280px) {
	.image-text-section .caption {
	    padding: 115px 85px;
	}
}
@media (max-width: 1199px) {
	.section {
		padding: 60px 0;
	}
	.navbar-brand {
		max-width: 50px;
		width: 100%;
	}
	.navbar-brand img {
		width: 100%;
	}
	.navbar-toggler {
		position: relative;
		width: 45px;
		height: 45px;
	}
	.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler:visited {
		outline: none;
		box-shadow: none;
		border: none;
	}
	.navbar-toggler i::before, .navbar-toggler i::after, .navbar-toggler i {
	    width: 30px;
	    height: 4px;
	    background-color: #fff;
	    border-radius: 10px;
	    position: absolute;
	    transition-property: transform;
	    transition-duration: 0.15s;
	    transition-timing-function: ease;
	    z-index: 99;
	}
	.navbar-toggler i {
	    display: block;
	    top: 10px !important;
	    margin-top: 0;
	    right: 10px;
	}
	.navbar-toggler i:before {
	    width: 60%;
	}
	.navbar-toggler i::before {
	    top: 10px;
	    transition-property: transform, opacity;
	    transition-timing-function: ease;
	    transition-duration: 0.15s;
	}
	.navbar-toggler i::before, .navbar-toggler i::after {
	    content: "";
	    display: block;
	}
	.navbar-toggler i::after {
	    bottom: -8px;
	}
	.navbar-toggler i::after {
	    top: 20px;
	    width: 26px;
	}
	.navbar-toggler.elementor-active i {
	    top: 15px !important;
	    z-index: 1110;
	    transform: rotate(45deg);
	}
	.navbar-toggler.elementor-active i:before {
	    width: 100%;
	    transform: rotate(90deg);
	    top: 0px;
	}
	.hero.v1 main section {
	    flex: 0 0 540px;
	    padding: 0em 30px 0 30px;
	}
	.tab-box .nav-tabs .nav-link {
		font-size: 14px;
	}
	.login-main {
		min-height: 720px;
	}
	.carousel.v1 .carousel-indicators {
		top: 10px;
		left: 35%;
	}
	.carousel.v1 h2 {
		margin-bottom: 15px;
	}
	.carousel.v3 .carousel-indicators {
	    top: unset;
	    left: unset;
	    right: 60%;
	    bottom: 50px;
	}
	.title-outline-image-box h2 {
	    font-size: 64px;
	}
	.tw-check-head {
    	padding: 20px 35px 45px 35px;
	}
	.Monthly-check .pd-form-mng {
    	padding: 8px 4px !important;
	}
	.amenities-carousel .icon-vx-box {
		min-height: 335px;
	}
	.card-box.v2 {
		margin-left: 0;
		margin-right: 0;
	}
	.building-booking-box tr {
		display: flex;
	}
	.building-booking-box tr td {
		width: 40%;
	}
	.building-booking-box tr td:first-child {
		width: 60%;
	}
	.building-booking-box tr td:last-child {
		text-align: center;
	}
	.building-booking-box  .btn-regular {
	    padding-left: 20px;
	    padding-right: 20px;
	    width: 100%;
	}
	.image-text-section .caption {
	    padding: 80px 70px;
	}
	.meeting-room-carousel .owl-nav {
	    position: relative;
	    top: 0;
	    left: 0;
	    justify-content: center;
	    margin-top: 20px;
	}
	.title-box.v4 p {
		max-width: 100%;
	}
	.how-works-section .col-md-3:nth-child(odd):before, .how-works-section .col-md-3:nth-child(even):before {
	    width: 90px;
	}
}
@media (max-width: 991px) {
	.hero.v1 main {
	    height: auto;
	    padding: 0px 0 0;
	    flex-wrap: wrap;
	}
	.hero.v1 main section {
        padding: 0;
	    max-width: 100%;
	    margin-right: 0;
	    margin-left: 0;
	    width: 100%;
	    flex: 0 0 100%;	
	    padding: 40px 50px;
	}
	.hero.v1 main aside {
		width: 100%;
		display: none;
	}
	.hero-content {
		text-align: center;
		width: 100%;
	}
	.hero.v2 .hero-caption {
		margin-bottom: 25px;
	}
	.login-page .smart-container .column-2 {
		display: none;
	}
	.carousel.v1 .carousel-caption {
		padding-bottom: 20px;
	}
	.carousel.v1 .carousel-indicators {
	    top: unset;
	    left: 0;
	    bottom: 0px;
	}
	.carousel.v3 .carousel-caption {
	    padding-bottom: 0px;
	    padding-top: 40px;
	}
	.carousel.v1 .carousel-indicators {
	    right: 0;
	    justify-content: flex-end;
	}
	.carousel.v1 .carousel-indicators [data-bs-target] {
		width: 30px;
	}
	.contact-column-1 {
    width: inherit !important;
    	flex: auto !important;
	}
	.cont-botom-wrap {
    	margin-bottom: 100px;
	}
	.contact-head-box {
    	padding: 20px;
	}
	.insect-img{
		display: none;
	}
	.cont-botom-wrap {
    	padding: 15px 30px;
	}
	.contact-wrap {
    	margin: 80px 0 150px 0;
	}
	.contact-wrap {
    	margin: 35px 0 150px 0;
	}
	.contact-form-box {
	    padding-top: 35px;
	    padding-left: 35px;
	}
	.contact-form-box .contact-form-inner {
	    max-width: 100%;
	    margin-left: 0;
	    margin-top: 0;
	}
	.contact-form-box:before {
	    width: auto;
	    top: 0;
	    bottom: 35px;
	    right: 35px;
	    height: auto;
	    max-width: 100%;
	}
	.contact-bottom-wrap p {
	    max-width: 500px;
	}
	.contact-bottom-wrap {
	    padding: 35px 0 35px 35px;
	    background-size: 50%;
	}
	.title-outline-image-box h2 {
	    font-size: 44px;
	    line-height: 70px;
	}
	.modal-header .btn-close {
	    right: 15px;
	    top: 15px;
	}
	.tw-form .form-label {
    	font-size: 14px;
	}
	.tw-check-head {
	    padding: 20px 20px 40px;
	}
	.weekly-check {
    	padding: 20px;
	}
	.tw-check-box .form-check-label {
	    font-size: 18px;
	}
	.tw-check-box {
    	max-width: 100%;
	}
	.tw-check-period .form-check-inline {
    	margin-right: 30px;
	}
	.input-line::after {
    	right: 60px;
	}
	.tw-form .form-label {
	    font-size: 12px;
	    margin: 8px 0px;
	}
	.pay-bottom {
    	padding: 30px 10px;
	}
	.pay-bottom .p-edit-btn {
    	margin-top: 10px;
	}
	.amenities-carousel .owl-nav {
	    position: relative;
	    left: 0;
	    margin: 40px auto 0;
	    text-align: center;
	    bottom: 0;
	}
	.hero-img-block {
		display: none;
	}
	.image-overlay-btn img {
		width: 100%;
	}
	.image-overlay-btn a.btn-white, .image-overlay-btn-left a.btn-white {
		left: unset;
		right: 15px;
	}
	.search-section .search-box {
		flex-basis: 33.3%;
		max-width: 33.3%;
		margin-bottom: 15px;
	}
	.search-section .row {
		justify-content: center;
	}
	.w-100-991{
    	max-width: 100%
	}
	.pay-conference-btn{
		margin: 15px 0 0;
	}
	.time-nav .nav-item {
	    border: none;
	    padding: 10px 0;	    
	}
	.pay-table tbody{
    	font-size: 12px;
	}
	.pay-table .pay-icon {
    	margin-right: 6px;
    	font-size: 12px;
	}
	.pay-table thead th{
		font-size: 12px;
	}
	.pay-table thead th{
		padding:5px;
	}
	.apartment-book-box {
    	padding: 15px;	
	}
	.apartment-head .apartment-wrap {
	    width: 100%;
	    display: inline-block !important;
	}
	.apartment-wrap .add-apart-edit {
	    padding-bottom: 20px;
	}
	.appartment-tabs-content .nav-item .apart-btn::after {
	    width: 190px !important;
	}
	.apartment-book-wrap .h4 span,  .apartment-book-wrap .h4 sup{
	    font-size: 15px !important;
	}


	.meeting-hour-v2 {
	    width: 100% !important;
	}
	.four-boxes-section .row > div {
		margin-bottom: 30px;
	}
	.icon-big-circle-box p {
	    padding: 0 0px;
	}
	.image-overlay-text-box  {
		margin-bottom: 30px;
	}
	.search-section.meeting-search-section .search-box {
	    flex-basis: 50%;
	    max-width: 50%;
	    margin: 0 auto 15px;
	}






}
@media (max-width: 767px) {
	.hero-content {
	    padding: 0px 0 15px 0px;
	}
	.hero-wrapper .border-line {
		display: none;
	}
	.tab-box .nav-tabs .nav-link {
		padding: 15px 4px;
	}
	.hero.v1 main section {
	    padding: 40px 0px 0px;
	}
  	.footer-bg{
  		padding: 20px !important;
  	}
  	.foter-wrap img, .foter-wrap .app-dwnload {
    	padding: 10px 0 10px 0;
  	}
  	.app-dwnload img{
		margin-right: 5px !important;
	}
	.footer-links {
		margin-top: 15px;
		margin-bottom: 15px; 
	    padding-left: 0; 
	    padding-top: 0; 
	}
	.foter-wrap {
    	padding: 0;
	}
	.footer-input {
    	padding: 15px 0;
	}
	.input-group {
    	width: 100%;
	}
	.copyright-text p {
    	margin: 10px 0 0;
	}
	.copyright-text a {
    	margin-top: 0px;
	}
	.footer-wrap .app-dwnload {
	    padding: 10px 0 0px 0;
	}
	.footer {
	    padding: 45px 0 35px;
	}
  	.meeting-content {
  		padding-left: 10px;
  		padding-right: 10px;
  	}
  	.card-box {
  		margin-bottom: 20px !important;
  	}
  	.book-app-section .image-box img {
		margin-bottom: -30px;
	}
	.team-member-box {
		margin-bottom: 120px;
	}
	.log-wrap .h2-size {
    	font-size: 30px;
	}
	.login-heading p {
    	font-size: 14px;
    	padding-bottom: 15px;
	}
	.log-footer li a {
    	font-size: 13px;
	}
	.login-main {
	    min-height: 760px;
	}
	.faq-content-wrap {
    	margin: 0px 0 20px;
	    padding: 40px 0;
	}
	.faq-content-wrap:not(.first-faq-section) {
		padding-top: 0;
	}
	.faq-content-wrap .accordion-button {
	    padding: 20px 20px;
	}
	.faq-content-wrap h6 {
	    font-size: 18px !important;
	}
	.faq-content-wrap .accordion-body {
	    padding: 0 20px 15px;
	}
	.accordion-body p {
	    font-size: 16px;
	}
	.accordion-button::after {
	    width: 1rem;
	    height: 1rem;
	    background-size: contain;
	}
	.accordion.mb-5 {
		margin-bottom: 2rem !important;
	}
	.accord-heading h2.my-4 {
		margin-top: 0 !important;
	}
	.contact-form-box {
	    padding-top: 20px;
	    padding-left: 20px;
	}
	.contact-form-box:before {
	    bottom: 20px;
	    right: 20px;
	}
	.contact-login {
	    padding: 20px 20px;
	}
	.contact-bottom-wrap {
	    padding: 30px 30px 30px 30px;
	}
	.contact-bottom-wrap {
	    margin-bottom: 60px;
	}
	.hero-image-1 img {
		margin-bottom: 1.5rem;
		height: auto;
	}
	.hero-image img {
		width: 100%;
		height: auto;
	}
	.tab-box.light-box .nav-tabs .nav-link,
	.tab-box.light-box .tab-content .tab-pane {
	    padding: 20px 20px;
	}
	.hero.v2 .hero-dropdown h6::after {
		height: 3px;
	}
	.title-outline-image-box h2 {
	    font-size: 40px;
	    line-height: 50px;
	    margin-bottom: 40px;
	}
	.workspace-type-box {
	    padding: 35px;
	}
	.input-modal.main-dropbox {
	    left: unset;
	    right: 0;
	}
	.sr-btns .btn-outline.v2 {
		margin-right: 10px;
	}
	.ws-card .caption {
	    padding: 20px;
	}
	.ws-card .image .image-caption {
	    padding: 30px 20px;
	}
	.ws-card .rating-star {
	    right: 20px;
	    bottom: 20px;
	}
	.ws-card .badge-available {
	    top: 30px;
	    right: 20px;
	}
	.back-top-btn {
	    margin: 30px 0 20px 0;
	    float: none;
	    display: inline-block;
	}
	.short-stay-form p {
    	margin: 0 0 20px 0;
	}
	.short-stay-form .form-control {
    height: 50px;
    }
	.short-stay-form .form-group {
    	margin-bottom: 30px;
	}
	.ws-card .align-items-end {
		align-items: center !important;
	}
	.tab-box .tab-content .tab-pane {
    	padding: 0px; 
	}
	.paying-heading {
    	margin: 25px 0;
	}
	.pay-bottom {
    	padding: 15px 10px;
	}
	.add-apart-img, .add-apart-edit{
		float: none !important;
	}
	.add-apart-edit .h1 {
	    font-size: 16px;
	    line-height: 28px;
	}
	.add-apart-edit {
    	padding-left: 0;
	}
	.add-apart-edit .h6 {
    	font-size: 12px;
	}
	.add-apart-edit .h6 i {
    	padding-right: 2px;
	}
	.add-apart-edit span {
    	font-size: 12px;
	}
	.add-apart-edit{
		padding-left: 10px !important;
	}
	.pay-footer-btn {
    	margin: 45px 15px;
	}
	.cancel-pay-btn {
		padding: 15px;
    	width: 150px;
    	margin-right: 25px;
	}
	.modal-body {
    	padding: 20px 15px 30px 15px;
	}
	.add-apart {
		display: flex;
		width: 100%;
	}
	.tw-form .form-label{
		margin: 20px 0 !important;
	}
	.tw-check-box .form-check-input {
    	margin-right: 5px;
	}
	.tw-check-box .form-check-label {
    	font-size: 15px;
	}
		.tw-check-period .form-check-inline {
    	margin-right: 25px;
	}
	.short-stay-btn {
    	padding: 25px 0;
	}
	.tw-daily-heading {
    	margin: 30px 0;
	}
	.weekly-check .form-check-inline {
    	width: 100%;
    	margin: 10px 0;
	}
	.weekly-check {
    	padding: 20px;
	}
	.input-line::after {
    	right: 122px;
	}
	.building-booking-box table tr td {
	    padding-left: 0;
	    padding-right: 0;
	}
	.building-booking-box {
	    padding: 25px 15px 25px;
	}
	.image-overlay-text {
	    border-radius: 10px;
	}
	.customer-review-box {
	    padding: 40px 10px;
	}
	.customer-review-box .caption {
	    padding: 30px 0px;
	}
	.customer-review-box .image img {
	    width: 100px;
	    height: 100px;
	}
	.title-box-w-link a:before {
	    width: 10px;
	    top: 9px;
	    margin-left: 5px;
	}
	.title-box-w-link a {
	    margin-right: 20px;
	    font-size: 13px;
	}
	.image-text-section .caption {
	    padding: 60px 20px;
	    min-height: auto;
	}
	.image-text-section .image img {
	    height: auto;
	}
	.search-section .search-box {
		flex-basis: 100%;
		max-width: 100%;
		margin-bottom: 15px;
	}
	.time-nav .nav{
		display: block;
	}
	
	.pay-table tbody td {
    	padding: 5px;
	}
	.add-apart-edit p{
		font-size: 11px;
		margin-bottom: 0px !important;
	}
	.add-more-btn .add-link {
    	margin-right: 0;
	}
	.apartment-content .meeting-hour {
	    width: 100%;
	    display: inline-block !important;
	    margin: 0 auto;
	}
	.apartment-gallery img{
	    width: 100%;
	    margin: 15px 0;
	}
	.apartment-gallery .mb-4{
		margin-bottom: 0px !important;
	}
	.apart-review-pages {
    	margin: 30px 0;
	}
	.rating-progress {
    	margin: 30px 0;
	}
	.apartment-content .hour-select-box, .meeting-hour-v2 .hour-select-box {
	    width: 44% !important;
	    margin: 10px;
	    float: left;
	}

	.apartment-content {
    	padding: 50px 0 30px 0;
	}
	.apartment-book-box {
	    margin: 20px 0;
	}
	.apartment-book-wrap .h4 span, .apartment-book-wrap .h4 sup {
	    font-size: 25px !important;
	}
	.apartment-book-wrap .h4{
		text-align: center;
	}
	.apartment-detail {
    	padding: 50px 0;
	}
	.appartment-tabs-content .nav-tabs {
	    border-bottom: 0;
	    width: 100%;
	    display: inline-block;
	}
	.apartment-content .add-apart-edit {
    	padding-left: 0px !important;
	}
	.apartment-about-v2 {
	    padding: 20px;
	}
	.apartment-about-v2 .nav li {
    	margin: 25px 0;
    	font-size: 16px;
    	line-height: 25px;
	}
	.apartment-desc-detail .nav {
	    justify-content: inherit !important;
	    display: inline-block;
	}
	.apartment-about p {
	    margin-bottom: 0;
	}
	.apartment-about-v2 h4{
		margin-bottom: 20px !important;
	}
	.search-filter {
	    position: relative;
	    margin-bottom: 10px;
	}
	.search-filter-3 {
		width: 100%;
	}
	.appartment-search-filters .search-filter-inner {
	    padding: 20px 30px 15px;
	}
	.slider-btn {
	    margin-right: 15px;
	}




	.input-modal.main-dropbox.v2 {
	    left: 0;
	    right: 0;
        z-index: 200;
	    min-width: 300px;
	}
	.input-modal.main-dropbox.v2 ul li {
	    max-width: 100%;
	}
	.input-modal.main-dropbox.v2 li .form-check {
	    padding: 5px 15px 5px 40px!important;
	}
	.input-modal.main-dropbox.v2 .btn-together {
	    padding: 20px 15px;
	}
	.four-boxes-section .row > div {
		margin-bottom: 15px;
	}
	.how-works-section .col-md-3:nth-child(odd):before, .how-works-section .col-md-3:nth-child(even):before {
		display: none;
	}
	.title-box.v5 h4:before {
	    left: 105%;
	    width: 60px;
	}
	.icon-big-circle-box .icon {
		margin-bottom: 40px;
	}
	.icon-big-circle-box p {
		min-height: auto;
	}
	.how-works-section .col-md-3:not(:first-child), .how-works-section .col-md-3:nth-child(even) {
	    margin-top: 40px;
	}
	.how-works-section .col-md-3:last-child .icon-big-circle-box {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.icon-box-wrapper {
	    margin-bottom: 30px;
	}
	.image-overlay-text-box  {
		margin-bottom: 15px;
	}
	.search-section.meeting-search-section .search-box {
	    flex-basis: 100%;
	    max-width: 100%;
	    margin: 0 auto 15px;
	}
	.search-section.meeting-search-section .d-flex.col-lg-8 {
		flex-wrap: wrap;
	}
	.search-section.meeting-search-section .input-modal.main-dropbox.v2 {
	    min-width: 300px;
	}
}