body {
    color: #000;
    font-family: 'Poppins', sans-serif;
    background: #FAF9F8;
    line-height: 28px;
    overflow-x: hidden;
}
.bg-silver {
    background: #FAF9F8;
}
button,
button:focus,
button:visited,
button:active,
button:focus-visible {
    outline: none !important;
    box-shadow: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.dark-bg {
    background-color: #0F1310;
}

.bg-cream {
    background-color: #FAF9F8;
}

header.bg-dark li.nav-item a {
    color: #ffffff !important;
}

.section {
    padding: 150px 0;
}

.h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}

.h2 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: #3A2B20;
}

.lightgray-text {
    color: #6D6969 !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.text-wraper {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #ECE6E6;
}

.content-box-wraper .h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #3A2B20;
}

.content-box-wraper p {
    color: #6D6969;
}

.content-box-wraper .view-btn {
    background-color: #FAF9F8;
    border: 1px solid #222020;
    color: #222020 !important;
    float: left;
    border-radius: 0px;
    font-size: 16px;
    padding: 5px 15px;
}

.view-btn-icon i {
    font-size: 35px;
    font-weight: 400;
    color: #000000;
    background-color: #FAF9F8;
    position: relative;
    right: 16px;
}

ul.navbar-nav .nav-item a {
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
}

ul.navbar-nav:last-child .nav-item a {
    font-weight: 500;
}

ul.navbar-nav .nav-item.active a {
    color: #A95E1A !important;
    font-weight: 600;
}

.hero.v1 .hero-content {
    padding: 10px 0 15px 50px;
}

.hero-wrapper p {
    line-height: 200%;
}

.hero-bg {
    background-color: #262A27;
}

.hero-wrapper .border-line {
    border-left: 1px solid #ffffff;
    position: relative;
}

.hero-wrapper .border-line span {
    background: #262A27;
    padding: 0 15px;
    position: absolute;
    left: -33px;
    transform: rotate(270deg);
    top: 70px;
    font-size: 18px;
}

.hero-tab .nav-tabs button {
    background-color: #222020;
    border-radius: 4px;
    width: 100% !important;
}

.hero-tab .nav-tabs {
    border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    background-color: #0F1310;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #0F1310;
}

.tab-pane {
    background-color: #0F1310;
}

.tab-content .find-btn {
    background-color: #262A27;
    border-radius: 10px;
}

.hero-dropdown, .hero.v1 .hero-dropdown input[type="text"] {
    background-color: #CFCFCF;
    border-radius: 10px;
    overflow: unset;
    position: relative;
}

.dropdown-toggle::after {
    position: absolute;
    right: 20px;
    color: #3E432F;
    font-size: 20px;
}

.hero-dropdown h6::after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    margin-top: 2px;
    background-color: #7F6858;
}

.hero-dropdown h6 {
    color: #504B4B;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.hero-dropdown button {
    color: #575957 !important;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    padding: 15px 0 15px 20px;
}

.hero.v1 main {
    display: flex;
    height: 745px;
    margin: 0 auto;
}

.hero.v1 main section {
    position: relative;
    flex: 0 0 665px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin-left: auto;
    padding: 0em 80px 0 0;
}

.hero.v1 main aside {
    display: flex;
    align-items: center;
    width: 45%;
    overflow: hidden;
}

.hero.v1 main aside img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.form-select {
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #575957;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
}

.form-select:focus,
.form-select:active,
.form-select:hover,
.form-select:visited,
.btn:focus,
.btn:active,
.btn:visited {
    outline: none;
    box-shadow: none;
}


.btn-regular {
    font-size: 18px;
    line-height: 27px;
    padding: 16px 20px;
    background: #262A27;
    border-radius: 10px;
    color: #fff;
}

.btn-regular:hover {
    color: #fff;
}

.btn-outline {
    border: 1px solid rgba(34, 32, 32, 0.6);
    font-size: 16px;
    color: rgba(34, 32, 32, 0.7);
    line-height: 24px;
    letter-spacing: 0.04em;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-outline:hover {
    color: rgba(34, 32, 32, 0.7);
}

.btn-w-icon {
    position: relative;
    padding-right: 40px;
    min-width: 160px;
}

.btn-w-icon i {
    font-size: 24px;
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: -30px;
    z-index: 5;
    background: #FAF9F8;
    color: #222020;
    top: 12px;
}

.btn-w-icon i:before {
    content: '';
    background-image: url('../images/long-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40px;
    height: 16px;
}

.tab-box .nav-tabs .nav-link {
    padding: 15px 10px;
    border: none;
    background: #222020;
    width: 100%;
    border-radius: 0;
    font-size: 15px;
}

.tab-box .nav-tabs li:first-child .nav-link {
    border-top-left-radius: 5px;
}

.tab-box .nav-tabs li:last-child .nav-link {
    border-top-right-radius: 5px;
}

.tab-box .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: #0F1310;
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-box .tab-content .tab-pane {
    padding: 35px;
}

.nav-tabs {
    border-bottom: none;
}


/*work-space-box*/

.work-space-section .column-2 {
    margin-top: -20px;
}

.meeting-room-section .smart-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1400px;
}

.fs-36 {
    font-size: 36px;
    letter-spacing: 0.04em;
    line-height: 54px;
}
.team-member-box {
    position: relative;
    max-width: 310px;
    margin: 0 auto;
    z-index: 1;
}

.team-member-box .caption {
    background: #222020;
    color: #fff;
    text-align: center;
    padding: 35px 30px 10px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0.04em;
    position: absolute;
    height: 100%;
    top: 20%;
    z-index: -1;
    max-width: 260px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
}

.team-member-box .image {
    position: relative;
    right: 0;
    text-align: center;
    max-width: 260px;
    margin-left: auto;
}

.team-member-box .caption h4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    font-weight: bold;
}

.team-member-box .caption .tm-contentHover-desc {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ECECEC;
}

.team-member-box .tm-contentHover {
    max-height: 0;
    /*transition: all 0.5s ease-in-out;*/
    overflow: hidden;
}

.team-member-box:hover .tm-contentHover {
    max-height: 300px;
}

.team-member-box:hover .caption {
    background: rgba(34, 32, 32, 0.8);
    padding: 35px 30px;
    display: block;
    z-index: 2;
}

.tm-contentHover .divider {
    width: 60px;
    height: 1px;
    background: #fff;
    display: inline-block;
    margin: 0 0 15px;
}

.icons-wo-circle a {
    border: none !important;
}


/*card-box*/

.card {
    border: none;
    margin: 20px 15px;
}

.card-detail-box .h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #3A2B20;
}

.card-detail-box p {
    color: #6D6969;
    font-weight: 500;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: 0.04em;
}

.card-detail-box .card-text {
    color: #A95E1A;
    margin-top: 15px;
}

.card-thumb .card:hover,
.card-box:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
}

.workspace-carousel .owl-item.active .card {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
}

.lh-normal {
    line-height: normal;
}

.fs-36.lh-normal {
    line-height: 44px;
}

.carousel.v1 .carousel-caption {
    position: relative;
    right: 0;
    bottom: 0rem;
    left: 0;
    padding-top: 50px;
    padding-bottom: 0;
    color: #fff;
    text-align: left;
}

.carousel.v1 .carousel-indicators {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    top: 0;
    bottom: 100%;
    left: 36.5%;
}

.carousel.v1 .carousel-indicators [data-bs-target] {
    background: #D2D1D1;
    height: 6px;
    width: 95px;
    border-radius: 5px;
    opacity: 1;
    border: 1px solid;
}

.carousel.v1 .carousel-indicators .active {
    background: #575957;
}

.text-lightwhite {
    color: #ECE6E6;
}


/*login-area*/

.login-main {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 820px;
}

.log-head-logo img {
    margin: 20px 0;
}

.login-heading p {
    line-height: 20px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}

.login-form .form-label {
    font-size: 12px;
    line-height: 150%;
    color: #6D6969;
    line-height: 18px;
    margin-bottom: 0px;
}

.login-form .btn-regular {
    background-color: #3E432F;
    border-radius: 0px;
    letter-spacing: 0.04em;
}

.login-form .form-text {
    color: #4A3A2F;
    font-size: 11px;
}

.carousel.v2 .carousel-indicators {
    justify-content: left;
    border-radius: 5px;
    bottom: 130px;
}

.carousel.v2 .carousel-indicators [data-bs-target] {
    border-radius: 5px;
    height: 10px;
    width: 70px;
    border: 1px solid #A95E1A;
    background-color: #ffffff !important;
    opacity: inherit;
}

.carousel.v2 .carousel-indicators .active {
    background-color: #3E432F !important;
    border-color: #3E432F;
}

.carousel.v2 .carousel-caption {
    right: 10%;
    bottom: 1.25rem;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.carousel.v2 .carousel-indicators {
    margin-right: 10%;
    margin-bottom: 0;
    margin-left: 10%;
}

.carousel.v2 .carousel-caption .rating-box {
    margin-top: 140px;
}

.log-carosel-txt .h6 {
    line-height: 24px;
    margin-bottom: 0px;
}

.log-carosel-txt p {
    line-height: 18px;
    font-size: 12px;
    margin-bottom: 0px;
}

.rating-box .btn {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.04em;
    padding: 12px;
    background-color: #3E432F;
    color: #ffffff;
}

.btn-outline.btn-light {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #fff;
}

.btn-outline.btn-light i {
    background-color: #0F1310;
    color: #fff;
}

.btn-outline.btn-light i:before {
    background-image: url('../images/long-arrow-white.svg');
}

.carousel.v3 .carousel-caption {
    padding-top: 0;
    bottom: 0;
}

.carousel.v3 .carousel-indicators {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    top: unset;
    bottom: 0;
    left: 0;
    right: 30%;
}

.carousel.v3 .carousel-indicators [data-bs-target] {
    width: 30px;
}


/*new-css*/


/*reset-pasword*/

.login-main .h2-size {
    font-size: 36px;
    margin-bottom: 16px;
}

.lh-24 {
    line-height: 24px !important;
}

.login-main h1 {
    margin-bottom: 15px;
}

.login-main .form-text {
    line-height: 20px;
    font-size: 13px;
    color: #DE0013;
    display: inline-block;
    margin-top: 10px;
}

.login-main .btn-regular {
    border-radius: 5px;
    padding: 15px 32px;
}

.login-main .btn-regular {
    line-height: 24px;
    font-size: 16px;
}

.text-darkbrown {
    color: #4A3A2F !important;
}

.bg-darkgreen {
    background-color: #3E432F;
}

.login-form small {
    font-size: 11px;
}

.fs-11 {
    font-size: 11px;
}

.login-page {}

.login-page footer li a {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.login-page footer li a:hover,
.login-page footer li a:active,
.login-page footer li a:focus {
    color: #000000;
}

.check-mail-text .h6 {
    color: #4A3A2F;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 5px
}

.check-mail-text p {
    color: #9FA09F;
    line-height: 21px;
    font-size: 14px;
}

.check-mail-text span {
    color: #4A3A2F;
    font-size: 14px;
    line-height: 21px;
}

.text-brown {
    color: #A95E1A !important;
}
.ls-0 {
    letter-spacing: 0 !important;
}
.red-border {
    border-color: #DE0013 !important;
}

#loginCarousel .carousel-item {
    height: 100vh;
}

#loginCarousel .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box-shadow {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
}

.verifi-code-box {
    padding: 45px 25px 70px;
}

.verifi-code-box .h2 {
    font-size: 20px;
    line-height: 30px;
}

.verifi-code-box p {
    font-size: 14px;
}

.verifi-code-box .form-control {
    padding: 5px 8px;
    width: 39px;
    height: 43px;
    text-align: center;
    border-color: #7F6858;
    font-weight: bold;
    font-size: 20px;
}

.verifi-code-box .form-group {
    margin: 0 auto;
    display: inline-block;
    margin: 0 5px;
}

.verifi-code-box .btn-regular {
    padding: 10px 50px;
}

.fs-12 {
    font-size: 12px !important;
}

.text-CoolGray li a,
.header-light li a {
    color: #1A202C !important;
}

.header-light .navbar-toggler i::before,
.header-light .navbar-toggler i::after,
.header-light .navbar-toggler i {
    background-color: #1A202C !important;
}


/*faq-css*/

.bg-banner {
    background-color: #575957 !important;
}

.faq-head .h1 {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
}

.faq-head .h5 {
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
}

.mh-400 {
    min-height: 400px;
    display: flex;
    align-items: center;
}

.fs-21 {
    font-size: 21px !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #3A2B20;
    background-color: none;
    box-shadow: none;
    background-color: inherit;
}

.accordion-body p {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    color: #6C6B6B;
}

.faq-content-wrap .accordion-button {
    padding: 35px 45px;
}

.faq-content-wrap .accordion-body {
    padding: 0 45px 35px;
}

.acord-border {
    border-bottom: 1px solid #C4C4C4;
}

.fw-600 {
    font-weight: 600 !important;
}

.faq-more-btn a {
    text-decoration: underline;
    color: rgba(42, 55, 93, 0.82);
    font-size: 18px;
    line-height: 27px;
}


/*contect-us-page*/

.border-bottom {
    border-bottom: 1px solid #E2E2E7;
}
.border-bottom-s2 {
    border-bottom: 1px solid #EEDFD1;
}
.contact-wrap {
    margin: 80px 0 150px 0;
}

.contact-wrap .h1 {
    font-size: 28px;
}

.contact-wrap .h1::after {
    content: "";
    width: 80px;
    height: 1px;
    display: inline-block;
    background-color: #000000;
    bottom: 7px;
    position: relative;
    left: 10px;
}

.contact-bg-baner {
    background-image: url('../images/contact-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    position: relative;
    z-index: 1;
}

.contact-bg-baner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.contact-bg-baner .container {
    z-index: 2;
}

.bg-b-dark {
    background-color: #262A27;
}

.contact-head-box {
    padding: 30px;
}

.contact-wrap p {
    color: #6C6B6B;
}

.contact-head-box h6 {
    letter-spacing: 0.04em;
    margin-bottom: 120px;
}

.font-14 {
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 21px;
}

.contact-head-box {
    letter-spacing: 0.01em;
    line-height: 24px;
    margin-top: -88px;
}

.contact-select {
    border: 1px solid #C4C4C4 !important;
    color: #6C6B6B;
    min-height: 50px;
}

.contact-login {
    box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.08);
    padding: 50px 35px;
    position: relative;
}

.contact-login .form-control::placeholder {
    color: #6C6B6B;
}

.contact-login .form-control {
    color: #6C6B6B;
    padding: 10px 50px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.contact-login .form-check-input {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-top: 0px;
}

.contact-login .form-check-label {
    color: #8E8E8E;
    font-size: 10px;
    line-height: 15px;
}

.contact-login textarea.form-control {
    padding: 10px 20px;
}

.contact-login .login-form i {
    padding: 0 20px;
    z-index: 1;
    position: absolute;
}

.form-group textarea {
    height: 150px;
}

.btn-regular {
    padding: 15px 65px;
    font-size: 16px;
}

.contact-column-1 {
    width: 50% !important;
    flex: 0 0 590px !important;
}

.contact-column-2 {
    width: 50% !important;
}


/*.cont-fotm-bg{
	background: #222020;
    letter-spacing: 0.04em;
    height: 100%;
    top: 20%;
    z-index: -1;
    max-width: 260px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
}*/

.contact-bottom-wrap {
    padding: 35px 0 35px 70px;
    border-radius: 8px;
    background-image: url('../images/line-arc.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.contact-bottom-wrap p {
    max-width: 620px;
}

.cont-work-space {
    padding: 90px 0;
}

.contact-bottom-wrap {
    margin-bottom: 100px;
}

.contact-form-box {
    position: relative;
}

.contact-form-box .contact-form-inner {
    background: #FFFFFF;
    box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.08);
    max-width: 530px;
    width: 100%;
    margin-left: 60px;
    margin-top: 60px;
    z-index: 2;
}

.contact-form-box:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    background: #FAF9F8;
    top: -60px;
    bottom: 60px;
    right: 60px;
    z-index: 1;
    height: 100%;
    max-width: 530px;
}

.iframe-map {
    position: relative;
}

.iframe-map:before {
    content: '';
    background: radial-gradient(54.75% 54.67% at 54.75% 47.09%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%, #FFFFFF 100%);
    transform: rotate(180deg);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/*.search-iframe-map:before {
    background: radial-gradient(35.69% 33.65% at 36.87% 28.12%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
}*/

/*fint-location*/

.hero-dropdown .form-select option {
    font-weight: normal;
    font-size: 15px;
    color: #6D6969;
    border-bottom: 1px solid #E7E9ED !important;
    padding: 15px 0 25px !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
}

.sign-with-btns {
    margin: 50px 0 80px 0;
}

.sign-with-btns ul {
    max-width: 200px;
    margin: 0 auto;
}

.login-page .form-control,
.login-page .btn {
    border-radius: 0;
}

.verifi-code-box input {
    color: #4A3A2F;
}

.verifi-code-box input::placeholder {
    color: #C0C0C0;
}

.form-control:active,
.form-control:focus,
.form-control:visited {
    outline: none;
    box-shadow: none;
    border: 2px solid #000000;
    color: #4A3A2F;
}

.success-color {
    color: #018E42;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.login-page .login-main,
.login-page .login-heading {
    width: 100%;
}

.login-form .input-flex {
    position: relative;
}

.login-form .input-flex input+button {
    position: absolute;
    right: 25px;
    top: 10px;
}

.no-btn {
    background: transparent;
    border: none;
}

/*short-let-appartment-model*/
.log-head-logo i{
    font-size: 28px;
    font-weight: 400;
}
.bg-lite-grey{
    background-color: #F8F8F8;
}
.apart-option .h4{ 
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding: 35px 0 25px;
}
.apart-option::after{
    content: "";
    width: 300px;
    height: 5px;
    display: block;
    background-color: #4A3A2F;
    position: relative;
    left: 10px;
    margin: 0 auto;
}
.back-top-btn {
    margin: 20px 0 0;
    float: none;
    display: inline-block;
    width: 100%;
}
.back-btn a{
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
}
.short-stay-border{
    border: 0.4px solid #9FA09F;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(127, 104, 88, 0.05);
    margin-bottom: 100px;
}
.short-stay-form .form-label{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #3A2B20;
}
.short-stay-form i{
    color: #6D6969;
}
.short-stay-box{
    padding: 50px 35px 0;
}
.short-stay-form .form-control{
    height: 66px;
    border-radius: 6px;
}
.short-stay-form .form-group{
    margin-bottom: 50px;
}
.short-stay-btn {
    background-color: #F5F5F5;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 40px 0;
}
.short-stay-btn .btn{
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    color: #4A3A2F;
    border: none;
}
.pd-form{
    padding:10px 18px !important;
}
.short-stay-form p {
    margin: -25px 0 50px 0;
    font-size: 20px;
}
.long-stay-box .form-control{
    height: 50px;
}
.long-stay-box .form-group textarea{
    height: 150px;
}
.long-stay-box .form-check-input {
    width: 20px;
    height: 20px;
}
.long-stay-box .form-check-label {
    font-size: 12px;
    line-height: 18px;
}
.pd-form-mng{
    padding: 10px 18px !important;
}
.long-stay-box .input-group{
    width: 100%;
}
.long-stay-box .input-group .form-control {
    border: 1px solid #C4C4C4;
}
.bg-grey-Nandor{
    background-color: #575957;

}
.long-stay-box .form-group {
    margin-bottom: 30px !important;
}

/*virtual-book-tour*/
.back-cros-btn i{
    font-size: 28px;
    font-weight: 400;
    color: #000000;
}
.cros-btn{
    margin: 50px 0;
    float: right;
}
.virtual-heading{
    margin: 40px 0 40px 0;
}
.virtual-heading .h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 5px;
}
.virtual-heading p {
    font-size: 15px;
    line-height: 22px;
    color: #989595;
}
.virtual-login .form-control{
    padding: 15px 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #3E432F;
}
.virtual-login .form-group{
    border-bottom:1.2px solid #CFCFCF;
    margin-bottom: 37px;
}
.virtual-login .form-label{
    padding: 0 10px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #989595;
}
.dusty-gray{
    color: #989595 !important;
}
.cocoa-grey{
    color: #7F6858 !important;
}
.fw-500{
    font-weight: 500;
}

.virtual-login .virtual-input-group .qty-input-group > input{
    border: none !important;
    padding: 10px !important;
}
.virtual-input-group{
    border-bottom: 1.2px solid #CFCFCF;
}
.tab-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .active{
    background-color: #E7E7E7 !important;
}
.work-tab .nav-tabs .nav-item .apart-btn{
    border: none;
    background-color: inherit;
}

.work-tab .nav-item .apart-btn{ 
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding: 35px 0 25px;
    color: #9FA09F;
}
.nav-item .apart-btn::after{
    content: "";
    width: 270px !important;
    height: 5px;
    left: 0px !important;
    margin: 0 10px;
    display: block;
    background-color: #878987;
    position: relative;
    opacity: 0;
    top: 23px;
}
.work-tab .apart-btn:hover::after{
    opacity: 1;
}
.work-tab .nav-item .active::after{
    opacity: 1;
}
.work-tab .nav-item .apart-btn.active {
    color: #4A3A2F !important;
} 
.w-space-login .form-control{
    padding: 10px 0;
}
.w-space-login .form-label{
    padding: 10px 0;
}
.w-space-login{
    padding: 46px 66px 20px 66px;
}
/*conform-to-pay*/
.paying-heading{
    margin: 66px 0 40px 0;
}
.paying-heading .h1{
    color: #3A2B20;
}
.add-apart-edit .h1{
    color: #4A3A2F;
    line-height: 40px;
}
.add-apart-edit .h6{
    font-size: 18px;
    line-height: 27px;
    color: #4A3A2F;
    margin-bottom: 9px;
}
.add-apart-edit{
    padding-left: 31px;
}
.add-apart-edit .h6 i{
    font-size: 15px;
    padding-right: 9px;
    color: #6D6969;
}
.p-edit-btn .h4{
    border-bottom: 2px solid #4A3A2F;
    color: #4A3A2F;
    font-weight: 400;
    margin-top: 14px;
}
.pay-bottom{
    border-bottom: 1px solid rgba(127, 104, 88, 0.3);
    display: inline-block;
    width: 100%;
    padding: 60px 10px;
}
.pay-bottom .p-edit-btn {
    margin-top: 40px;
}
.add-apart-edit span{
    font-size: 14px;
    color: #6D6969;
    line-height: 21px;
    font-weight: 400;
}
.add-apart-edit .h5{
    margin-bottom: 12px;
}
.add-apart-edit .h2{
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
}
.cancel-pay-btn {
    border: 1px solid #CBCCD0;
    border-radius: 5px;
    padding: 15px 35px;
    margin-right: 36px;
    width: 225px;
    text-align: center;
}
.pay-footer-btn{
    margin: 65px 0px;
}
.cancel-pay-btn a{
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;

}
.cancel-pay-btn a:hover{
    color: #6D6969;
}
.pay-btn{
    background-color:#3E432F;
    border: none; 
}
/*pop-up-box*/
.modal-header p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}
.modal-body{
    padding: 45px 15px 60px 15px;
}
.modal-header .btn-close {
    position: absolute;
    right: -200px;
    top: -50px;
    opacity: 1;
}
/*type-of-work-space-daily*/
.approx-grey{
    color: #EFEAE6 !important;
}
.top-apart p{
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 400;
}
.top-apart a{
    text-decoration: underline;
    color: #B7B8B7;
    margin-left: 15px;
}
.tw-pading{
    padding: 40px 0;
}
.add-apart{
    display: inline-block;
}
.top-apart{
    padding-left: 27px;
    margin-top: 10px;
}
.tw-form .form-control{
    background-color: transparent;
    border-radius: 5px;
    border: 1.8px solid #CFCFCF;
    color: #ffffff;
    height: 66px;
    padding: 10px 15px; 
}
.tw-form .form-label{
    font-size: 18px;
    color: #EFEAE6;
    margin-bottom: 13px;
    font-weight: 700;
    line-height: 26px;
}
.tw-form .input-group{
    border-bottom: none;
}
.tw-form .input-group > input{
    background-color: transparent;
    border: 1.8px solid #CFCFCF !important;
    height: 66px;
    padding:10px 15px;
    border-radius: 5px !important;
    color: #ffffff;
    font-size: 16px;
}
.tw-form .qty-input-group [type="button"] {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #7F6858;
}
.tw-form .qty-input-group .btn-together {
    right: 15px;
}
.tw-body-bg {
    background-color: #E7E7E7;
}
.tw-daily-heading{
    margin: 30px 0 30px 0;
}
.tw-daily-heading .h1{
    font-size: 26px;
    line-height: 39px;
    font-weight: 700;
}
.tw-check-head {
    padding: 20px 60px 45px 55px;
}
.tw-stay-border{
    border-bottom: 0.6px solid #C4C4C4;
}
.tw-check-box .form-check-input:checked {
    border: 0.8px solid #4A3A2F !important;
    background-image: none !important;
    box-shadow: none !important;
    background-color: #7F6858;
}
.tw-check-box .form-check-input:focus {
    box-shadow: none !important;
}
.tw-check-box .form-check-inline{
    margin-top: 12px;
}
.tw-check-box .form-check-input {
    margin-right: 15px;
    margin-top: 8px;
}
.tw-check-box{
    max-width: 85%;
    padding: 0px;
}
.tw-check-head .h5{
    color: #3A2B20;
    line-height: 29px;
    margin: 15px 0 20px 0;
}
.tw-check-box .form-check-label{
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
}
.tw-time-form .form-control{
    border: 1.2px solid #EEDFD1; 
    color: #6D6969;
}
.tw-time-form .form-label{
    font-size: 16px;
}
.tw-check-period .form-check-input {
    margin-right: 9px;
    font-size: 13px;
}
.tw-check-period .form-check-label {
    padding-right: 10px;
}
.tw-check-period .form-check-inline {
    margin-right: 50px;
}
.tw-check-period .form-check-inline i{
    font-size: 13px;
    color: #989595;
}
/*accordion-collapes-css*/
.tw-accordion .accordion-button{
    padding: 50px 0 10px 0 ;
    font-size: 20px;
    line-height: 29px;
    text-decoration-line: underline;
    font-weight: 500;
    color: #3A2B20;
}
.tw-accordion .accordion-button::after{
    margin-left: 5px;
}
.tw-accordion .accordion-button.collapsed::after {
    background-image: url('../images/acordion-plus.png');
}
.tw-accordion .accordion-button:not(.collapsed)::after{
    background-image: url('../images/acordion-minus.png');
}
/*weekly-check-box*/
.weekly-check{
    border-radius: 5px;
    padding: 10px 60px 10px 60px;
    margin-top: 25px;
}
.weekly-check .form-check-input{
    border: 1.2px solid #7F6858;
    background: none;
    margin-top:5px;
} 
.weekly-check .form-check-inline{
   width: 90px;
   margin: 10px 27px 10px 0;
}
.weekly-check .form-check-input:checked[type=checkbox]{
    background-image: url('../images/chec-tick-brown.svg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.weekly-check .form-check-input:checked{    
    background-color: inherit;
}
.weekly-check .form-check-input:focus{
    box-shadow: none;
}
.weekly-check .form-check-label{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #6D6969;
}
.Monthly-check .input-group{
    margin: 0;
    width: 100%;
    border: none !important;
}
.Monthly-check .form-label{
    margin-bottom: 10px;
}
.Monthly-check .form-control{
    border: 0.7px solid #989595;
}
.Monthly-check a{
    background-color: #7F6858;
    color: #ffffff;
    font-size: 13px;
    padding: 18px 12px;
}
.Monthly-check .form-control .from-border{
    border-right: 1px solid red;
}
.Monthly-check .form-control:focus{
    background-color: inherit;
}
.input-line::after {
    content: "";
    width: 4px;
    height: 33px;
    position: relative;
    display: block;
    background-color: #EEDFD1;
    right: 105px;
    bottom: -8px;
    z-index: 1;
}
.popupbox .modal-content{ 
    border-radius: 15px; 
    padding: 40px 0 0;
}
.popupbox .modal-content{
     padding: 40px 0 0;
}

.Additional-accordion .weekly-check{
    margin-top: 0;
    padding: 10px 0px 10px 30px;
}
.Additional-accordion .weekly-check .form-check-inline {
    width: 160px;
    margin: 10px 10px 10px 0;
    justify-content: space-between;
    display: inline-block;
}
.add-apart-v2 .h1{
    font-size: 18px;
    line-height: 27px;
}
.add-apart-v2 p{
    font-size: 13px !important;
    line-height: 20px !important;
    margin-top: 10px;
}
.golden-glow{
    color: #F1C19D !important;
}
.add-apart-v2 a{
    margin-left: 10px;
}
.Additional-accordion .form-check-label{
    font-size: 12px;
}
/*tabs-daily-weekly*/
.tw-check-tab .nav-tabs .nav-item.show .nav-link, .tw-check-tab .nav-tabs .nav-link.active {
     background: none; 
     width: inherit; 
     border-radius: 0; 
     border: none;
}
.tw-check-tab .tab-pane{
    background-color: #ffffff;
}
.tw-check-tab .nav-link{
    border: none;
    color: #4A3A2F;
    font-weight: 600;
    font-size: 19.2px;
    line-height: 29px;
    width: 180px !important;
    text-align: left;
    padding-left: 0;
}
.tw-check-tab .nav-tabs .nav-item.show .nav-link, .tw-check-tab .nav-tabs .nav-link.active{
    color: #4A3A2F;
}
.tw-check-tab .nav-tabs .nav-item.show .nav-link, .tw-check-tab .nav-tabs .nav-link.active i{
    background-color: #7F6858;
    border-radius: 10px;
}
.tw-check-tab .nav-link i {
    font-size: 13px;
    margin-right: 15px;
}
/*on-time-alert*/
.on-time-alert {
    background-color: #297779;
    padding: 30px 0 30px 45px;
    border-radius: 5px;
    margin: -20px 0 0 !important;
}
.on-alert-text .h4{
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
}
.on-alert-text .nav-item{
    margin-right: 25px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.on-alert-text i{
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}
.on-time-alert .btn-close{
    background-image: url(../images/cross-btn-white.svg);
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
}
.mt-50{
    margin-top: 50px !important;
}
.add-apart-v2 .golden-glow{
    font-size: 16px;
}
.tw-form-v2 .form-control, .tw-form-v2 .input-group input{
    border-color: #EEDFD1 !important;
}

.pay-nav .nav-item{
    font-size: 10px;
    line-height: 15px;
    color: #7F6858;
    font-weight: 400;
    margin-right: 10px;
}
.pay-nav i{
    font-size: 15px;
    margin-right: 7px;
}
.mb-13{
    margin-bottom: 13px !important;
}
.pay-conference-btn{
    background-color: #EFEAE6;
    /*opacity: 0.3;*/
    display: inline-block;
    border-radius: 5px;
    margin-left: 80px;
}
.pay-conference-btn .btn{
    font-size: 18px;
    line-height: 27px;
    padding: 10px;
    width: 200px;
    
}
.time-nav .nav-item{
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #EEDFD1;
}
.time-nav .nav-item p{
    font-size: 14px;
    line-height: 21px;
    color: #9F9F9F;
    margin-bottom: 11px;
}
.time-nav .nav-item h6{
    font-weight: 600;
    line-height: 24px;
    color: #6D6969;
    margin-bottom: 0;
}
.amount-wrap p{
    font-weight: 600;
    line-height: 24px;
    color: #9FA09F;
}
.amount-wrap .h5{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #4A3A2F;
}
.amount-wrap .add-apart-edit{
    margin-right: 20px;
}
.pay-table tbody, .pay-table td, .pay-table tfoot, .pay-table th, 
.pay-table thead, .pay-table tr{
    border:none;
}
.pay-table thead{
    background-color: #E7E7E7;
}
.fs-18{
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}
.pay-table .pay-icon{
    margin-right: 25px;
    font-size: 15px;
    font-weight: 400;
}
.pay-table thead{
    padding: 20px 30px;
}
.pay-table thead th{
    font-weight: 500;
    color: #4A3A2F;
    padding: 20px 30px;
}
.pay-table tbody td{
    padding: 35px 30px 17px 30px;
}
.dark-color{
    color: #0F1310;
}
.fs-15{
    font-size: 15px;
    font-weight: 400;
}
.add-more-btn .add-link{
    border-bottom: 3px solid #4A3A2F;
    font-size: 14px;
    line-height: 21px;
    margin-right: 30px;
}
.pay-bottom-v2{
    padding: 35px 0;
}
.mb-35{
    margin-bottom: 35px !important;
}
.fw-700{
    font-weight: 700;
}
.pay-table input{
    width: 30px;
    text-align: center;
    color: #6D6969;
}
.mr-card{
    padding:13px;
    border: 2px solid #EBEAEA !important;
}
.mr-card:hover, .mr-card.active {
    border: 2px solid #7F6858 !important;
}
.mr-card .badge-available {
    bottom: 12px;
    right: 12px !important;
    top: inherit !important;
    background:rgba(255,255,255, 0.8);
    border-radius: 5px;
    padding: 5px;
}
.mr-card .icon-hx-box {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}
.mr-card .caption{
    padding:11px 0 !important;
}
.mr-card .caption p {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 0px;
}
.mr-card .caption span {
    font-size: 11px;
    letter-spacing: 0.04em;
    font-weight: 400;
    display: block;
}
.mr-card .caption .icon-more {
    background-color: #FAF9F8;
    border-radius: 23px;
    border: 1px solid #FAF9F8;
    padding: 0;
    font-size: 10px;
    color: #989595;
    font-weight: 600;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
}
.mr-card .icons-hx{
    margin-bottom: 20px;
}
.meeting-hour {
    margin: 0 -7px;
}
.hour-select-box span{
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
}
.hour-select-box p{
    font-size: 12px;
    line-height: 16.5px;
    font-weight: 700;
    margin-bottom: 0;
}
.meeting-hour .hour-select-box {
    width: 33.33%;
    margin: 0 7px;
    padding: 4px 8px 8px;
}
/*apartment-description-css*/
.apartment-head{
    background-color: #FAFAFA;
    padding: 25px 0;
}
.apartment-wrap .add-apart-edit{
    padding-left: 0px;
}
.apartment-wrap .add-apart-edit .h6{
    margin-bottom: 10px;
}
.fw-400{
    font-weight: 400 !important;
}
.apartment-head .heart-icon {
    background-color: #E7E7E7;
    padding: 0;
    font-size: 12px;
    border-radius: 100%;
    margin-left: 25px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.apartment-head .apartment-wrap{
    margin-bottom:50px;
}
.apartment-content{
    padding: 50px 0;
}
.apartment-content .hour-select-box{
    width: 150px;
    padding:27px 0;
}
.apartment-content .meeting-hour{
    width: 90%;
}
.apartment-content .hour-select-box img{
    margin-bottom: 18px;
}
.apartment-content .hour-select-box p{
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #4A3A2F;
}
.apartment-detail{
    padding: 100px 0;
}
.apartment-about h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.apartment-about p{
    line-height: 24px;
    letter-spacing: 0.04em;
    padding-bottom: 15px;
}
.apartment-desc-detail .list-group-item{
    border: 0px;
}
.apartment-desc{
    padding:30px 0;
}
.apartment-desc .h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    padding:30px 0;
    margin-bottom: 0;
}
.apartment-desc-detail .list-group li{
    margin-bottom: 30px;
    letter-spacing: 0.04em;
    line-height: 24px;
}

.apartment-tab .nav-item .apart-btn{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #4A3A2F !important;
    padding: 0 0 20px 0;
}
.apartment-tab .nav-item .apart-btn::after{
    width: 290px !important;
    background-color: #4A3A2F !important;
    margin: 0;
    top: 25px;
}
.apartment-tab .nav-item .apart-btn.active {
    font-weight: 500;
}
.apartment-tab .nav-tabs{
    border-bottom: 1px solid #D6CFC8;
}
.apartment-Rental .h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #8E8E8E;
}
.apartment-Rental{
    margin:20px 0 40px 0;
}
.apartment-more-btn{
    margin: 40px 0;
}
.apartment-more-btn .h4{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4A3A2F;
    margin-bottom: 0;
}
.apartment-more-btn i{
    font-size: 15px;
    color: #4A3A2F;
    margin-left: 10px;
}
.apartment-book-wrap .h4{
    line-height: 36px;
    font-weight: 500;

}
.apartment-book-wrap .h4 sup {
    font-weight: 500;
    font-size: 24px;
    color: #3E432F;
    margin-right: 5px;
}
.outer-space{
    color: #3E432F !important;
}
.fs-20{
    font-size: 20px;
    font-weight: 500;
    line-height:30px;
}
.apartment-book-box{
    padding: 35px 43px;
    margin: 50px 0;
}
.apartment-book-box .form-control {
    background-color: #FAF9F8;
    border-radius: 0px;
    border: none;
    color: #6F716F;
    height: 55px;
    margin-bottom: 30px;
}
input[type="date" i].apartment-date::-webkit-calendar-picker-indicator {
    background-image: url('../images/calendar-brown.svg');
    width: 1.5rem;
    height: 1.5rem;
}
.apartment-date.left-date-icon {
    position: relative;
    padding-left: 55px;
}
input[type="date" i].apartment-date.left-date-icon::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    margin-left: 15px;
}
.apartment-book a{
    width: 100%;
    display: block;
    border: 1px solid #6F716F;
    text-align: center;
    padding:19px 0;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #575957;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.face-grey{
    background-color: #6F716F !important;
}
.apartment-img-more::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}
.apartment-review .review-detail p{
    margin-bottom: 13px;
}
.apartment-review .review-time{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 20px;
}
.apartment-review .review-text p{
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.04em;
    margin-bottom: 0px;
}
.mb-20{
    margin-bottom: 20px !important;
}
.apart-review-pages .pagination li .page-link{
    border: none;
    color: #C4C4C4;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    background: transparent;
}
.apart-review-pages .pagination li .page-link i{
    font-size: 30px;
    font-weight: 400;
}
.apart-review-pages .pagination li .page-link:hover{
    background-color: inherit;
}
.apart-review-pages .pagination li .page-link.active{
    color: #4A3A2F !important;
}
.apart-review-pages .pagination li .page-link:focus{
    box-shadow: none;
    background-color: inherit;
}
.apart-review-pages{
    margin: 85px 0 0;
}
.rating-progress{
    padding: 30px 26px;
    background-color: #FAFAFA;
    margin: 60px 0;
}
.rating-progress .h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 9px;
}
.rating-Guest .h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}
.rating-star p{
    font-size: 11px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 0.04em;
    margin-bottom: 0px;
}
.rating-guest-box {
    padding: 9px 0 40px;
}
.rating-guest-box .rating-star {
    text-align: center;
    font-size: 16px;
}
.rating-guest-box .rating-star p {
    margin-top: 5px;
}
.progress-wrap{
    margin-bottom: 23px;
}
.progress-wrap p, .progress-wrap h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.04em;
    margin-bottom: 2px;
}
.progress-wrap .progress, .progress-wrap .progress-bar{
    height: 5px;
}
.progress-wrap .progress-bar{
    background-color: #3E432F;
}
.progress-wrap .progress{
    background-color: inherit;
    border: 1px solid #6D6969;
}
.review-img{
    padding-right: 18px;
}
.pb-20{
    padding-bottom: 20px;
}
.appartment-map .h4{
    font-size: 24px;
    line-height: 36px;
    padding:40px 0 20px;
}
.pay-bottom-v3 .h6{
    margin-bottom: 12px;
}
.pay-bottom-v3 .rating-star{
    font-size: 12px;
}
.pay-bottom-v3 .p-edit-btn {
    margin-top: 50px;
}
.pay-bottom-v3 p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 12px;
}
.pay-bottom-v3 .h5{
    font-size: 25px;
    font-weight: 500;
    line-height: 37px;
}
.pay-bottom-v3 .fs-28{
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
}

.meeting-hour-v2{
    width: 60% !important;
}
.meeting-hour-v2 .hour-select-box{
    width: 120px !important;
}
.apartment-book-v2{
    padding: 25px 28px 15px;
    margin:25px 0 43px;
}
.apartment-book-v2 .m-tag-detail i{
    font-size: 8px;
    color: #9FA09F;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 16px;
    margin-top: 15px;
}
.apartment-book-v2 .m-tag-detail p, .apartment-book-v2 .m-tag-detail h6,
.apartment-book-v2 .m-tag-detail h5{
    margin-bottom: 6px;
}
.apartment-book-v2 .m-tag-detail h6{
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.04em;
    font-weight: 400;
}
.outer-space{
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 0.04em;
}
.bg-Gray98{
    background-color: #FAFAFA;
}
.meeting-price-tag{
    height: 100px;
    margin-bottom: 28px;
}
.m-tag-detail{
    border-right: 1px solid #CFCFCF;
}
.apartment-about-v2{
    border: 1px solid #FAF9F8;
    padding: 45px 40px;
    margin: 20px 0 30px;
    border-radius: 2px;
}
.apartment-about-v2 h4{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 15px;
}
.apartment-about-v2 .nav img{
    margin-right: 7px;  
}
.apartment-about-v2 .nav li {
    margin: 0 20px 20px 0;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 19px;
    color: #4A3A2F;
}
.mb-43{
    margin-bottom: 43px !important;
}
.cancel-policy h5{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 8px;
}
.cancel-policy p{
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
}
.cancel-policy a{
    font-weight: 800;
    text-decoration: underline;
}













/*footer*/

.footer {
    background-color: #191E29;
    padding: 80px 0 80px;
    color: #fff;
    position: relative;
}

.footer-link-box .h5 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    letter-spacing: 0.04em;
}

.footer-link-box ul li {
    margin: 12px 0;
}

.footer-link-box ul li a {
    color: #9F9F9F;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.04em;
}

.form-group .text-wraper {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
}

.footer-input {
    padding: 30px 0 0;
}

.input-group {
    border-bottom: 1px solid #ffffff;
    width: 75%;
}

.footer-wrap .app-dwnload {
    padding: 24px 0 24px 0;
}

.footer-wrap img {
    padding: 0px 0 30px;
}

.input-group .form-control {
    background: none;
    border: none;
}

.input-group-addon {
    width: 35px;
}

.input-group-addon i {
    font-size: 35px;
    max-width: 100%;
    font-weight: 400;
}

.btn-tp {
    background: transparent;
    border: none;
}

.copyright-text {
    line-height: 150%;
    font-size: 14px;
}

.copyright-text p {
    margin: 40px 0 0 0;
}

.copyright-text a {
    margin-top: 15px;
}

.social-icons li a {
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.book-app-section .image-box img {
    margin-bottom: -140px;
}

.form-control {
    height: 50px;
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #989595;
    border-radius: 4px;
    padding: 10px 32px;
}

.form-control::placeholder {
    color: #989595;
}

.input-validation-message {
    display: none;
}

.input-error .input-validation-message {
    display: block;
}

.input-error .form-control {
    border-color: #DE0013;
}

.br-5px {
    border-radius: 5px;
}

.form-group {
    margin-bottom: 30px;
}

.login-page .smart-container .column-2 {
    margin-top: 0;
}

.bg-black {
    background-color: #0F1310;
}

.bx-shadow {
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
}

.accordion-button.collapsed::after {
    background-image: url('../images/arrow-down.svg');
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../images/arrow-up.svg');
    transform: none;
}

.accordion-item {
    border-radius: 5px !important;
    border: none !important;
}

.faq-content-wrap {
    margin: 40px 0 40px;
    padding: 40px 0;
}

.faq-content-wrap .row.acord-border {
    padding-bottom: 40px;
}

.hero.v2 h1 {
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    color: #3A2B20;
}
.tab-box.light-box .nav-tabs .nav-item.show .nav-link, .tab-box.light-box .nav-tabs .nav-link.active,
.tab-box.light-box .tab-content .tab-pane, .tab-box.light-box {
	background-color: #E7E7E7;
	overflow: hidden;
}
.tab-box.light-box .nav-tabs li:last-child .nav-link {
    border-top-right-radius: 10px;
}
.tab-box.light-box .nav-tabs li:first-child .nav-link {
    border-top-left-radius: 10px;
}
.tab-box.light-box .nav-tabs .nav-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #3E432F;
	cursor: unset;
	text-align: left;
	padding: 20px 35px 0;
}
.tab-box.light-box {
	border-radius: 10px;
}
.hero.v2 .hero-dropdown, .hero-dropdown.v2 {
    background-color: #ffff;
    border-radius: 10px;
    overflow: unset;
    position: relative;
}
.hero.v2 {
	padding: 70px 0;
}
.hero-image img {
    object-fit: cover;
    border-radius: 10px;
}
.hero-image-1 img {
	height: 570px;
}
.hero-image-2 img {
	height: 365px;
	margin-bottom: 1.5rem;
}
.hero-image-3 img, .hero-image-4 img {
	height: 180px;
}
.border-none, .border-none.form-control {
	border: none;
}
.hero.v2 .tab-box .tab-content .tab-pane,
.hero.v2 .tab-box.light-box input.border-none.form-control {
	overflow: unset;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.hero.v2 .tab-box.light-box {
	overflow: unset;
}
.hero.v2 .tab-box.light-box input.border-none.form-control {

}
.input-modal {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 11;
    top: 90%;
    left: 25px;
    max-width: 310px;
    display: none;
}
.input-modal li button {
    padding: 15px 25px;
    width: 100%;
    background: transparent;
    border: none;
    color: #6F716F;
    font-size: 15px;
    border-bottom: 1px solid #E7E9ED;
    text-align: left;
}
.input-modal > div {
	padding: 10px 25px;
}
.input-modal div button {
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #A95E1A !important;
	background: transparent;
	border: none;
	padding: 0px 0;
	text-decoration: none;
}
.input-modal div button.btn-regular {
	background: #575957;
	border-radius: 3px;
	color: #fff !important;
	padding: 7px 25px;
}
.h1-large {
	font-weight: bold;
	font-size: 35px;
	line-height: 52px;
	color: #3A2B20;
}
.title-box p {
	max-width: 780px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 30px;
}
.container.mw-960 {
	max-width: 960px;
}
.title-outline-image-box h2 {
    color: transparent;
    font-weight: bold;
    font-size: 75px;
    line-height: 112px;
    -webkit-text-stroke: 2px rgba(58,43,32,0.1);
}
.br-10 {
	border-radius: 10px;
}
.br-100 {
    border-radius: 100% !important;
}
.title-box .btn-link {
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #6D6969;
	border-bottom: 3px solid #262A27;
	text-decoration: none;
}
.workspace-type-box {
	background: #FFFFFF;
	border: 0.4px solid #CFCFCF;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(127, 104, 88, 0.05);
	border-radius: 10px;
	padding: 50px;
}
.qty-input-group {
	position: relative;
}
.qty-input-group > input {
    border-bottom: 1.2px solid #EEDFD1 !important;
    box-sizing: border-box;
    border-radius: 5.64842px;
    font-size: 24px;
    color: #3E432F;
    outline: none;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 8px 0 15px 0;
}
.qty-input-group [type="button"] {
    background: #878987;
    border: 1px solid #878987;
    border-radius: 4px !important;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.qty-input-group .btn-together {
	position: absolute;
	right: 0;
}
.qty-input-group + .btn-regular {
	min-height: 85px;
	border-radius: 7px;
}
.workspace-type-box .form-label {
	font-size: 14px;
}
.back-btn {
    font-size: 20px;
    font-weight: 600;
}
.hero-dropdown.v2 {
	border: 1px solid #CFCFCF;
}
.hero-dropdown.v2 .qty-input-group > input {
	border-bottom: none !important;
}
.hero-dropdown.v2 input.form-control {
	font-size: 14px;
	color: #4A3A2F;
	border-radius: 10px;
}
.hero-dropdown.v2 .btn-together input {
	color: #fff;
	font-size: 18px;
}
.hero-dropdown.v2 input::placeholder {
	color: #9A9494;
}
.search-btn .btn {
    background: #3E432F;
    border-radius: 5.92941px;
    border: 1px solid #3E432F !important;
    padding: 10.5px 60px;
}
.hero-dropdown.v2 .qty-input-group .btn-together {
    right: 10px;
    top: 7px;
}
.h2-customh {
    color: #4A3A2F;
    font-weight: 600;
}
.h2-customh span {
    color: #7F6858;
}
.btn-outline.v2 {
    border: 1px solid #C4A287;
    box-sizing: border-box;
    border-radius: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #989595;
    margin-right: 15px;
}
.btn-outline.v2:hover, .btn-outline.v2:focus, .btn-outline.v2:active, .btn-outline.v2:visited {
    background: #878987;
    border-color: #878987;
    color: #fff;
}
.sr-btns.dropdown .dropdown-toggle::after {
    display: none;
}
.main-dropbox {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    min-width: 300px;
    transform: translate(0px, 60px) !important;
}
.main-dropbox .dropdown-menu, .main-dropbox {
    border: none;
    padding: 0;
    margin: 0;
}
.main-dropbox .dropdown-submenu ul {
    position: relative;
    background: rgba(231, 231, 231, 0.4);
}
.main-dropbox li a {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #6D6969;
    padding: 20px 45px;
    display: inline-block;
    border-bottom: 0.5px solid rgb(0 0 0 / 10%);
    width: 100%;
}
.main-dropbox li:last-child > a {
    border-bottom: none;
}
.main-dropbox li a::before, .main-dropbox .nav-tabs.btn-together button:before {
    content: '';
    background-image: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 20px;
    width: 12px;
    height: 12px;
    top: 25px;
}
.main-dropbox li a, .main-dropbox .nav-tabs.btn-together button {
    position: relative;
}
.main-dropbox li a.dropdown-submenu-toggle:after {
    content: '';
    position: absolute;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
    top: 25px;
    right: 25px;
}
.main-dropbox .dropdown-submenu ul li a {
    color: #989595;
    padding: 20px 65px;
}
.main-dropbox .dropdown-submenu ul li a:before {
    left: 40px;
}
.main-dropbox li a.dropdown-submenu-toggle.active:after {
    transform: rotate(180deg);
}
.input-modal.main-dropbox {
    transform: translate(0, 21px) !important;
}
.input-modal.main-dropbox .form-check {
    margin-bottom: 0;
    padding: 20px 50px !important;
    display: flex;
    align-items: center;
}
.input-modal.main-dropbox .form-check input {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-top: 0;
}
.input-modal.main-dropbox .form-check label {
    padding-left: 15px;
    line-height: normal;
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #6D6969;
}
.input-modal.main-dropbox .form-check label i {
    color: #989595;
    margin-right: 5px;
}
.input-modal.main-dropbox li:not(:last-child) .form-check {
    border-bottom: 0.5px solid rgb(0 0 0 / 10%);
}
.input-modal.main-dropbox .btn-together {
    background: rgba(231, 231, 231, 0.4);
    padding: 20px 30px;
}
.input-modal.main-dropbox {
    left: 0;
}
.input-modal.main-dropbox ul {
    margin-bottom: 0;
    max-height: 190px;
    overflow: auto;
}
.main-dropbox .nav-tabs.btn-together button {
    background: transparent;
    border: none;
    color: #989595;
    font-size: 13px;
    padding: 0 0px 0 15px;
}
.main-dropbox .nav-tabs.btn-together {
    background: rgba(231, 231, 231, 0.4);
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-dropbox .nav-tabs.btn-together button:before {
    left: 0px;
    width: 8px;
    height: 8px;
    top: 10px;
}
.input-modal li button.btn-active {
    font-weight: bold;
}
.main-dropbox li button.btn-active {
    font-weight: normal;
}
.main-dropbox .nav-tabs.btn-together button.active:before {
    background-image: url('../images/circle-fill.svg');
}
.form-check-input:checked {
    background-color: #4A3A2F;
    border-color: #4A3A2F;
}
.form-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(74 58 47 / 25%);
}
.ws-card {
    background: #FFFFFF;
    border: 1.5px solid #F9F4EF;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}
.badge-available {
    background-color: #fff;
    font-size: 9px;
    line-height: 100%;
    color: #34963E;
    border-radius: 100px;
    padding: 4px 7px;
}
.ws-card .image {
    position: relative;
}
.ws-card .image .image-caption {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    padding: 40px 35px;
}
.ws-card .image .image-caption h4 {
    font-size: 25px;
}
.ws-card .image .image-caption p {
    font-size: 20px;
}
.ws-card .image .image-caption h4, .ws-card .image .image-caption p {
    max-width: 80%;
    float: left;
    width: 100%;
    display: inline-block;
}
.ws-card .badge-available {
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 9;
}
.ws-card .rating-star {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 18px;
}
.badge-available i {
    font-size: 10px;
    margin-right: -3px;
}
.ws-card .caption {
    padding: 30px;
}
.ws-card .btn-default {
    font-size: 10px;
    line-height: 100%;
    color: #7F6858;
    background-color: rgba(231, 231, 231, 0.4);
    padding: 6px 10px;
    border: none;
}
.icons-hx img {
    margin-right: 10px;
}
.icon-hx-box {
    font-size: 14.4px;
    color: #4A3A2F;
    line-height: normal;
}
.icon-hx-box i {
    margin-right: 5px;
}
.price-box {
    font-size: 13px;
    color: #989595;
    line-height: normal;
}
.price-box span {
    font-size: 20px;
    color: #4A3A2F;
    position: relative;
    z-index: 1;
    font-weight: 500;
}
.price-box span:before {
    content: '';
    position: absolute;
    bottom: 5px;
    background-color: #EFEAE6;
    height: 9px;
    width: 85%;
    left: 0;
    z-index: -1;
}
.ws-card .btn-regular {
    background: #575957;
    border-radius: 3px;
    padding: 7px 30px;
}
.search-column-1 {
    max-height: 1040px;
    overflow-y: auto;
}
.date-calender {
    position: absolute;
    left: 20px;
    top: 25px;
    padding: 0;
}
.date-calender i {
    padding: 0 !important;
}
.popupbox {
    background: rgba(74, 58, 47, 0.4);
}
.workspace-selection-hero .banner-image-1 img, .workspace-selection-hero .banner-image-2 img,
.workspace-selection-hero .banner-image-3 img, .workspace-selection-hero .banner-image-4 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.workspace-selection-hero .banner-image-1 img, .workspace-selection-hero .banner-image-2 img {
    height: 370px;
}
.workspace-selection-hero .banner-image-3 img {
    height: 205px;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
}
.workspace-selection-hero .banner-image-4 img {
    height: 155px;
    border-bottom-right-radius: 10px;
}
.image-overlay-text {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
.row.gutters-5 {
    margin-left: -5px;
    margin-right: -5px;
}
.row.gutters-5 > * {
    padding-left: 5px;
    padding-right: 5px;
}
.image-overlay-text {
    position: relative;
}
.image-overlay-text .image-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-flow: column;
    padding: 40px 35px 25px;
    background: rgba(0, 0, 0, 0.6);
}
.image-overlay-text .image-caption h4 {
    font-size: 25px;
    font-weight: 600;
}
.image-overlay-text .image-caption p {
    font-size: 20px;
    font-weight: 400;
}
.image-overlay-text .image-caption .rating-star i {
    font-size: 18px;
}
.more-photos-btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #EAE8E8;
    font-size: 12px;
}
.more-photos-btn i {
    color: #4A3A2F;
    font-size: 13px;
    background: #CBCCD0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.image-overlay-text .btn-outline {
    border: 1px solid #B7B8B7;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #B7B8B7;
}
.building-booking-box {
    filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.08));
    background: #fff;
    padding: 25px 30px 25px;
}
.building-booking-box table tr td {
    vertical-align: middle;
}
.building-booking-box h5 {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #4A3A2F;
    margin-bottom: 0;
}
.building-booking-box p {
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #989595;
    margin-bottom: 0;
}
.building-booking-box .price-box span:before {
    display: none;
}
.building-booking-box tr:not(.building-booking-btns) td {
    padding: 10px 15px 25px;
}
.building-booking-box tr.building-booking-bottom td {
    padding-top: 25px;
}
.building-booking-box tr.building-booking-btns td {
    padding-top: 35px;
    padding-bottom: 0;
    border-bottom: none;
}
.building-booking-box .btn {
    height: 60px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.building-booking-box .btn-outline {
    border: 1px solid #6F716F;
    box-sizing: border-box;
    border-radius: 6px;
    color: #575957;
}
.building-booking-box  .btn-regular {
    background: #575957;
    border-radius: 6px;
    color: #fff;
    border: 1px solid #575957;
}
.building-description .container.border-bottom {
    padding-bottom: 60px;
}
.bb-rect-label-box {
    background: rgba(231, 231, 231, 0.8);
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #4A3A2F;
    padding: 18px 40px;
    border-radius: 4px;
    max-width: 300px;
    display: inline-block;
}
.bb-rect-label-box .icon-hx-box {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.bb-rect-label-box .icon-hx-box i {
    margin-right: 10px;
}
.building-booking-rect-box .bb-rect {
    border: 0.5px solid #F1C19D;
    box-sizing: border-box;
    min-height: 200px;
    margin-left: 40px;
    margin-top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #9FA09F;
}
.building-booking-rect-box .price-box {
    color: #989595;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.building-booking-rect-box .price-box span {
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #9FA09F;
}
.building-booking-rect-box .price-box span:before {
    display: none;
}
.title-box.v2 h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #4A3A2F;
    letter-spacing: 0;
}
.title-box.v2 p {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #CBCCD0;
}
.amenities-carousel-section .container {
    position: relative;
}
.amenities-carousel {
    position: unset;
}
.amenities-carousel .owl-item:not(:last-child) .icon-vx-box {
    border-right: none;
}
.amenities-carousel .owl-stage {
    padding-left: 0 !important;
}
.icon-vx-box {
    background: #FFFFFF;
    border: 0.2px solid #F1C19D;
    box-sizing: border-box;
    padding: 40px 50px 80px;
}
.icon-vx-box h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #4A3A2F;
}
.icon-vx-box .image {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-vx-box .image img {
    width: auto;
}
.amenities-carousel .owl-nav {
    position: absolute;
    left: 0;
    bottom: 60px;
}
.amenities-carousel .owl-nav button {
    width: 35px;
    height: 35px;
    border: 1.98038px solid #CBCCD0 !important;
    border-radius: 100%;
    background-image: url(../images/left-arrow.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 65% !important;
    text-indent: -9999px;
}
.amenities-carousel .owl-nav .owl-next {
    background-image: url('../images/right-arrow.svg') !important;
    margin-left: 15px;
}
.customer-review-box {
    padding: 40px 30px;
    border-bottom: 0.5px solid #F1C19D;
    display: flex;
    align-items: center;
}
.customer-review-box:last-child {
    border-bottom: none;
}
.customer-review-box:first-child {
    padding-top: 0;
}
.customer-review-box .image {
    width: 25%;
    text-align: right;
}
.customer-review-box .image img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.customer-review-box .caption {
    font-size: 14px;
    line-height: 30px;
    position: relative;
    padding: 30px 40px;
    width: 75%;
}
.customer-review-box .caption:before, .customer-review-box .caption:after {
    content: '\f10e';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    font-size: 30px;
    color: #878987;
}
.customer-review-box .caption:after {
    transform: rotateY(0deg);
    top: unset;
    bottom: 20px;
    right: 0;
    left: unset;
}
.card-box.v2 {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    overflow: hidden;
}
.card-box.v2 .card-body {
    flex: 1 1 auto;
    padding: 1.7rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card-box.v2 .card-body .card-text {
    margin-top: 0;
}
.card-box.v2 .card-body .card-text i {
    font-size: 15px;
    margin-right: 5px;
}
.accordion-button:not(.collapsed) {
    text-decoration: none;
}
input[type="time" i].form-time::-webkit-calendar-picker-indicator {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../images/clock.png');
}
input[type="date" i].form-date::-webkit-calendar-picker-indicator {
    background-image: url('../images/calendar.svg');
    width: 1.5rem;
    height: 1.5rem;
}
input[type="date" i].form-date-dark::-webkit-calendar-picker-indicator {
    background-image: url('../images/calendar-dark.svg');
    width: 1.5rem;
    height: 1.5rem;
}
/*input[type="text"].form-date-dark {
    background-image: url('../images/calendar-dark.svg');
    background-position: 85% center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 1.5rem;
}*/
.ontime-booking-box {
    border: 0.4px solid #C4A287;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(127, 104, 88, 0.05);
    border-radius: 10px;
}
.hero.v3 img {
    border-radius: 10px;
    width: 100%;
}
.hero.v3 .hero-image-1 img {
    height: 260px;
    margin-bottom: 15px;
}
.hero.v3 .hero-image-2 img {
    height: 350px;
    margin-bottom: 15px;
}
.hero.v3 .hero-image-3 img {
    height: 285px;
    width: auto;
}
.hero.v3 .hero-image-4 img {
    height: 340px;
}
.gutters-15 {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.gutters-15 > * {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.card-box.v3 {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    margin-left: 0;
    margin-right: 0;
}
.card-box.v3 .card-body {
    padding: 1.4rem 1.4rem;
}
.title-box-w-link a {
    position: relative;
    margin-right: 80px;
}
.title-box-w-link a:before {
    content: '';
    position: absolute;
    width: 65px;
    height: 1px;
    background-color: #4A3A2F;
    top: 11px;
    left: 100%;
    direction: rtl;
    margin-left: 15px;
}
.image-overlay-btn {
    position: relative;
}
.image-overlay-btn .btn-white {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #fff;
    padding: 20px 35px;
    border-radius: 0;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #4A3A2F;
}
.image-overlay-btn .btn-white img {
    width: 30px;
    margin-left: 15px;
}
.image-overlay-btn-left .btn-white {
    right: unset;
    left: 15px;
}
.ls-let-appartments-section h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    color: #3A2B20;
}
.ls-let-appartments-section p {
    font-size: 18px;
}
.image-text-section {
    min-height: 530px;
}
.image-text-section .image {
    padding: 0;
    position: relative;
}
.image-text-section .image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.image-text-section .image img {
    width: 100%;
    height: 530px;
    object-fit: cover;
    object-position: center;
}
.image-text-section .caption {
    background: #262A27;
    color: rgba(238, 223, 209, 0.8);
    padding: 0 120px;
    min-height: 530px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.image-text-section .caption p {
    margin-bottom: 30px;
}
.image-text-section .caption a {
    max-width: 240px;
}
.btn-regular.v2 {
    padding: 15px 35px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;    
}
.btn-regular.v2.bg-white {
    border: 1px solid #fff;
}
.fs-14 {
    font-size: 14px !important;
}
.card-box.v4 {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08), 0px 0px 5px rgba(0, 0, 0, 0.08);
}
.card-box.v4 h5 {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #4A3A2F;
}
.card-box.v4 .card-body {
    padding: 1.4rem 35px;
}
.appartment-type .form-box img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.appartment-type .form-box span {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
}
.appartment-type .form-box {
    padding-left: 0;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 13.8017px;
    padding: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: transparent;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    border: 0.573604px solid rgba(127, 104, 88, 0.5);
    box-sizing: border-box;
    border-radius: 11.4721px;
    margin: 0 auto;
}
.choose-reservation.active {
    justify-content: center;
    border: 2px solid #575957;
    box-sizing: border-box;
    box-shadow: 0px 4px 25px rgba(127, 104, 88, 0.08);
    filter: drop-shadow(0px 4px 25px rgba(127, 104, 88, 0.08));
    font-weight: 600;
    color: #3E432F;
}
.choose-reservation.active span {
    font-weight: 600;
}
.form-box .image {
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choose-reservation i {
    font-size: 10px;
    color: #262A27;
    margin-top: -2px;
}
.choose-reservation.active i:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f111";
    font-weight: 900;
}
.search-section .search-box {
    flex-basis: 20%;
    max-width: 20%;
    padding: 0 15px;
    position: relative;
}
.search-section .search-box input, .search-section .search-box select {
    padding: 10px 25px;
    border: 1px solid #CFCFCF;
    border-radius: 7px;
    height: 50px;
}
.search-section .search-box > button {
    height: 50px;
    padding: 10px 30px;
    width: 100%;
    text-align: left;
}
.appartment-search-content {
    background: rgba(250, 249, 248, 0.6);
}
.appartment-search-content .btn-outline {
    border: 1px solid #6F716F;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
}
.appartment-search-section .form-control::placeholder, .appartment-search-section .form-control {
    color: #575957;
}
.card-box.v5 {
    border-radius: 10px;
    overflow: hidden;
}
.card-box.v3 .image-caption {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    align-items: flex-end;
    justify-content: space-between;
    padding: 25px;
    display: none;
}
.card-box.v3 .image-caption .badge-icon {
    background: #fff;
    color: #A95E1A;
    font-size: 11px;
    padding: 4px 10px;
    border-radius: 4px;
    line-height: normal;
}
.card-box.v5:hover .image-caption {
    display: flex;
}
.appartment-tabs-content .nav-item .apart-btn::after {
    content: "";
    background-color: #4A3A2F;
    top: 25px;
    margin: 0 0px;
}
.appartment-tabs-content .nav-tabs {
   border-bottom: 1px solid #D6CFC8;
}
.app-gallery-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border: none;
}
.app-gallery-btn i {
    font-size: 28px;
    margin-bottom: 10px;
}
.app-gallery-btn span {
    font-size: 10px;
    line-height: 100%;
    color: #191E29;
    background: #fff;
    padding: 6px 8px;
}
a.apparment-more-btn:before {
    z-index: -1;
    content: '';
    position: absolute;
    height: 180px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
}
.appartment-more-box {
    margin: 40px 0 0px;
    position: relative;
    z-index: 1;
}
.description-tab-content {
    max-height: 460px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.description-tab-content.active {
    max-height: 2000px;
}
.apparment-more-btn.active:before {
    display: none;
}
.appartment-search-content .btn-outline.active {
    background: #E7E7E7;
}
.search-filter-1 {
    border-right: .3px solid #6F716F;
    padding: 5px 0;
}
.slider-btn {
    background: rgba(231, 231, 231, 0.5);
    border-radius: 5px;
    border: none;
    padding: 12px 15px;
    margin-right: 20px;
}
.appartment-search-filters p {
    font-size: 13px;
    color: #3E432F;
    font-weight: 500;
}
.appartment-search-filters .nav li:not(:last-child) {
    margin-right: 10px;
}
.appartment-search-filters .nav button {
    background: #fff;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0;
    position: relative;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3E432F;
    font-weight: 600;
    font-size: 8px;
}
.appartment-search-filters .nav button span {
    background: #E7E7E7;
    font-size: 8px;
    line-height: 150%;
    color: #262A27;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
}
.appartment-search-filters .nav button.active, .appartment-search-filters .nav button.filters-more-btn {
    background: #E7E7E7;
}
.appartment-search-filters .nav button.active span {
    background: #3E432F;
    color: #FFFFFF;
}

/* --- fillter */

.price-range-slider {
    padding-top: 1em;
    position: relative;
    text-align: center;
}
.price-range-slider::before, .price-range-slider::after {
  content: " ";
  display: table;
}
.price-range-slider::after {
  clear: both;
}

.price-range-slider .track {
  bottom: 15px;
  height: 1px;
  left: 0;
  margin-bottom: -3px;
  position: absolute;
  width: 0;
  z-index: 50;
  border-radius: 15px;
}

.price-range-slider .track--full {
  background: #878987;
  width: 100%;
}
.price-range-slider .track--included {
    background: #3E432F;
    border-radius: 3px;
    height: 2px;
}
.price-range-slider .slider-thumb {
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    display: inline-block;
    height: 15px;
    left: 0;
    position: absolute;
    width: 15px;
    z-index: 101;
    border: 2px solid #3E432F;
    bottom: 6px;
}

.price-range-slider [type=range] {
    -webkit-appearance: media-slider;
    background: none;
    height: 25px;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 75;
}

.price-range-slider [type=range]:focus {
  outline: none;
}
.price-range-slider [type=range]::-moz-focus-outer {
  border: 0;
}
.price-range-slider [type=range]:first-of-type {
  float: left;
  margin-bottom: -30px;
}

.price-range-slider [type=range]:last-of-type {
  float: right;
  margin-bottom: 0;
}
.price-range-slider [type=range]::-webkit-slider-runnable-track {
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.price-range-slider [type=range]::-ms-fill-lower {
  background: none;
  border: 0;
}
.price-range-slider [type=range]::-ms-fill-upper {
  background: none;
  border: 0;
}
.price-range-slider [type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  color: transparent;
  height: 6px;
  z-index: -1;
}
.price-range-slider [type=range]:focus::-ms-fill-lower {
  background: none;
  border: 0;
}
.price-range-slider [type=range]:focus::-ms-fill-upper {
  background: none;
  border: 0;
}
.price-range-slider [type=range]::-moz-range-track {
  -moz-appearance: none;
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}
.price-range-slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  outline: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}
.price-range-slider [type=range]::-ms-thumb {
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}
.price-range-slider [type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}

.price-range-slider .output, .price-range-slider output {
    background: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    height: 1.5em;
    left: 50%;
    line-height: 2.5em;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(-50%, 0);
    font-weight: bold;
    font-size: 10px;
    line-height: 150%;
    color: #4A3A2F;
    width: 60px;
}
.fillter span.left {
    color: #bebdbd;
    text-align: left;
    display: inline-block;
    padding-top: 12px;
}
.fillter span.right {
    color: #bebdbd;
    float: right;
    padding-top: 12px;
}
.price-range-slider input[type="range" i]::-webkit-media-slider-thumb {
    border: none !important;
}
/* --- fillter ------ */
.search-filter {
    position: relative;
}
.search-filter .input-modal {
    min-width: 260px;
    overflow: hidden;
}
.search-filter .input-modal > div {
    padding: 20px 25px;
}
.search-filter .input-modal li button {
    text-align: left;
}
.search-filter-4 > .btn-regular {
    background: #6F716F;
    border-radius: 4px;
    font-weight: 500;
    font-size: 11px;
    padding: 10px 50px 10px 15px;
    line-height: normal;
    position: relative;
}
.search-filter-4 > .btn-regular:before {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    position: absolute;
    right: 15px;
    font-size: 13px;
    top: 12px;
}
.search-filter-5 button {
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 12px 25px;
    background: #3E432F;
    border-radius: 4px;
}
.appartment-search-filters .search-filter-inner {
    padding: 25px 45px;
    background: #FFFFFF;
    border: 0.2px solid #575957;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 40px;
}
#searchFiltersCollapse {
    transition: all 0.5s ease-in-out;
}
#searchFiltersCollapse:not(.show) {
    max-height: 0;
    overflow: hidden;
}
.search-filter-5 {
    align-self: flex-end;
}
.main-dropbox.v2 {
    background: #FFFFFF;
    border: 0.5px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    min-width: 470px;
    overflow: hidden;
}
.input-modal.main-dropbox.v2 .form-check label {
    font-size: 14px;
    line-height: 150%;
    color: #6D6969;
}
.input-modal.main-dropbox.v2 ul {
    max-height: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0px 5px;
}
.input-modal.main-dropbox.v2 ul li {
    max-width: 50%;
    width: 100%;
}
.input-modal.main-dropbox.v2 li .form-check {
    border-bottom: none;
    padding: 5px 15px 5px 50px!important;
    width: 100%;
}
.input-modal.main-dropbox.v2 .btn-together {
    background: #fff;
    padding: 20px 30px;
}
.input-modal.main-dropbox.v2 .btn-together .btn-together .btn-outline {
    border: 1px solid #9FA09F;
    border-radius: 3px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #4A3A2F !important;
}
.input-modal.v2 li button.btn-active {
    font-weight: bold;
    background: #E7E7E7;
}
.hero.v5 {
    background: #FAFAFA;
}
.hero.v5 h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 140.1%;
    color: #3A2B20;
}
.hero.v5 p {
    font-size: 16px;
    line-height: 180%;
    color: #4A3A2F;
}
.hero.v5 aside img {
    border-radius: 0px 0px 0px 60px;
}
.hero.v5 .form-control {
    border: 1px solid #575957;
    box-sizing: border-box;
    border-radius: 4px;
}
.hero.v5 .input-modal li button {
    text-align: left;
}
.input-modal.v3 .form-control, .input-modal.v3 .form-select {
    border: 1px solid rgba(169, 94, 26, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 15px;
    height: 50px;
    color: #504B4B;
}
.input-modal.v3 .form-control::placeholder, .input-modal.v3 .form-select::placeholder {
    color: #504B4B;
}
.input-modal.v3 {
    padding: 20px;
}
.hero.v5 .btn-regular {
    background: #3E432F;
    border: 1px solid #EEDFD1;
    box-sizing: border-box;
    border-radius: 4px;
}
.input-icon-bg::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 15px;
}
.map-marker-bg:before {
    background-image: url('../images/map-marker.svg');
}
.calendar-wait-bg:before {
    background-image: url('../images/calender-wait.svg');
    left: 30px;
}
.attendees-bg::before {
    background-image: url('../images/users.svg');
    left: 25px;
    width: 25px;
}
.input-icon-bg .form-control {
    padding-left: 45px;
}
.four-boxes-section .image-left-box {
    display: flex;
    background: #E7E7E7;
    border-radius: 5px;
    padding: 30px 20px;
    height: 100%;
}
.four-boxes-section .image-left-box .image img, .four-boxes-section .image-left-box .image {
    max-width: 40px;
    width: 100%;
}
.four-boxes-section .image-left-box .image {
    margin-top: 10px;
}
.four-boxes-section .image-left-box h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 150.6%;
    color: #3A2B20;
}
.four-boxes-section .image-left-box p {
    font-size: 12px;
    line-height: 150.6%;
}
.border-radius-8 {
    border-radius: 8px;
}
.meeting-room-loc-box p {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #191E29;
    margin: 20px 0 30px;
}
.meeting-room-loc-box .btn {
    font-size: 14px;
    line-height: 150%;
    color: #3A2B20;
    min-width: 115px;
    margin-right: 15px;
    margin-bottom: 25px;
    border: 1px solid #3A2B20;
    padding: 9px 35px;
}
.title-box.v3 > p {
    font-size: 14px;
    line-height: 150%;
    max-width: 460px;
    margin-left: 0;
}
.title-box.v3 h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #3A2B20;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}
.title-box.v3 h4:before {
    content: '';
    position: absolute;
    background: #3A2B20;
    height: 1px;
    width: 80px;
    left: 110%;
    top: 50%;
}
.title-box.v3 h3 {
    font-size: 24px;
    line-height: 150%;
    color: #3A2B20;
    margin-bottom: 17px;
}
.title-box.v4 h4 {
    padding-right: 85px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #3A2B20;
}
.title-box.v4 h4:before {
    left: unset;
    right: 0;
    top: 20px;
}
.title-box.v4 p {
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.04em;
}
.card-box.v6, .card-box.v6:hover {
    margin: 20px 20px !important;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
}
.card-box.v6 .btn-outline {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #3A2B20;
}
.card-box.v6 .card-body {
    padding: 1.5rem;
}
.card-box.v6 .card-body p {
    max-width: 320px;
    line-height: 150%;
    margin-top: 10px;
}
.card-box.v6 .card-body .btn-w-icon i {
    top: 3px;
}
.meeting-room-carousel .owl-nav {
    position: absolute;
    top: -40px;
    left: 140px;
    display: flex;
    flex-flow: row-reverse;
}
.smart-container.container-fluid {
    max-width: 100%;
}
.meeting-room-carousel .owl-nav svg path {
    fill: #E1DCD7;
}
.meeting-room-carousel .owl-nav button {
    margin: 0 20px;
}
.meeting-room-carousel .owl-nav button.owl-prev svg path, .meeting-room-carousel .owl-nav button:hover svg path,
.meeting-room-carousel .owl-nav button:focus svg path, .meeting-room-carousel .owl-nav button:active svg path {
    fill: #A95E1A;
}
.card-box a > img {
    width: 100%;
}
.icon-big-circle-box {
    padding-bottom: 30px;
    border-bottom: 1px solid #B7B8B7;
    margin-bottom: 15px;
}
.icon-big-circle-box .icon {
    width: 130px;
    height: 130px;
    background: #3E432F;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px;
}
.icon-big-circle-box h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #3A2B20;
    margin-bottom: 25px;
}
.icon-big-circle-box p {
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #7C8282;
    padding: 0 25px;
    min-height: 75px;
    margin-bottom: 0;
}
.title-box.v5 h4 {
    font-weight: 500;
    font-size: 30px;
    padding-right: 0;
}
.title-box.v5 p {
    font-weight: 500;
    font-size: 15px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #6D6969;
    max-width: 780px;
}
.title-box.v5 h4:before {
    left: 115%;
    right: unset;
    top: 25px;
}
.how-works-section .col-md-3 {
    position: relative;
}
.how-works-section .col-md-3:nth-child(even) {
    margin-top: 80px;
}
.how-works-section .col-md-3:nth-child(odd):before, .how-works-section .col-md-3:nth-child(even):before {
    content: '';
    position: absolute;
    background-image: url('../images/Line 119.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 120px;
    height: 15px;
    top: 110px;
    left: 80%;
}
.how-works-section .col-md-3:nth-child(even):before {
    background-image: url('../images/Line 121.svg');
    top: -10px;
    height: 22px;
    left: 75%;
}
.how-works-section .col-md-3:last-child:before {
    display: none;
}
.title-box.v7 ul {
    margin-top: 60px;
}
.title-box.v7 ul li {
    width: 50%;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #6D6969;
    padding-left: 25px;
    margin-bottom: 40px;
}
.title-box.v7 ul li:last-child {
    margin-bottom: 0;
}
.title-box.v7 ul li:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #504B4B;
    border-radius: 100%;
    left: 0;
    top: 7px;
}
.meeting-room-image img {
    margin-bottom: 15px;
}
.meeting-room-image-1 img {
    width: 232px;
    height: 242px;
}
.meeting-room-image-2 img {
    width: 380px;
    height: 315px;
}
.meeting-room-image-3 {
    text-align: right;
}
.meeting-room-image-3 img {
    width: 251px;
    height: 261px;
}
.meeting-room-image-4 img {
    width: 270px;
    height: 150px;
}
.title-box.v6 h2 {
    color: #5B5B5B;
}
.title-box.v6 .btn {
    background: #3E432F;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-left: auto;
}
.btn.btn-lg {
    min-width: 280px;
    padding: 18px 65px;
}
.icon-box-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
}
.icon-box-wrapper .icon {
    background: rgba(231, 231, 231, 0.4);
    border-radius: 4px;
    min-width: 80px;
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-right: 20px;
}
.icon-box-wrapper .icon img {
    width: 26px;
}
.icon-box-wrapper h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #3A2B20;
    margin-bottom: 20px;
}
.icon-box-wrapper p {
    font-size: 17px;
    line-height: 150%;
    color: #8E8E8E;
}
.image-overlay-text-box {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 60px;
}
.image-overlay-text-box .caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 30px;
}
.image-overlay-text-box .caption h4 {
    font-size: 30px;
    line-height: 150%;
    color: #FFFFFF;
    font-weight: normal;
    padding: 0 15px 0px;
}
.image-overlay-text-box .caption p:not(.price-box) {
    font-weight: 500;
    font-size: 14px;
    line-height: 170.6%;
    color: #FFFFFF;
    min-height: 85px;
    border-bottom: 1px solid #B9B9B9;
    margin-bottom: 25px;
    padding: 0 15px 5px;
}
.image-overlay-text-box .caption p.price-box {
    line-height: 170%;
    color: #FFFFFF;
    margin-bottom: 0;
    padding: 0 15px 0px;
}
.fs-18 {
    font-size: 18px !important;
}
.meeting-search-section .input-modal.main-dropbox .filter-by-box .form-check input {
    padding: 0;
    border: 1px solid #6F716F;
    box-sizing: border-box;
    border-radius: 3px;
    width: 15px;
    height: 15px;
}
.meeting-search-section .input-modal.main-dropbox.v2 .filter-by-box .form-check label {
    font-size: 13px; 
}
.filter-by-box h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #6D6969;
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 0;
}
.meeting-search-section .input-modal.main-dropbox.v2 .filter-by-box > .form-check {
    width: 50%;
    float: left;
    padding: 0 !important;
}
.meeting-search-section .input-modal.main-dropbox.v2 .filter-by-box > .form-check input {
    margin: 0 0px 0 5px;
}
.meeting-search-section .input-modal.main-dropbox.v2 .filter-by-box ul {
    width: 100%;
}
.meeting-search-section .input-modal.main-dropbox.v2 .filter-by-box ul li {
    margin: 3px 0;
}
.meeting-search-section .input-modal.main-dropbox.v2 .filter-by-box li .form-check {
    padding: 5px 15px 5px 30px!important;
}
.input-modal.v2 li button {
    text-align: left;
}
.search-section.meeting-search-section .input-modal {
    min-width: 320px;
}
.search-section.meeting-search-section .input-modal.main-dropbox.v2 {
    transform: translate(0) !important;
    left: 25px;
}
.search-section.meeting-search-section .input-modal.main-dropbox.v2 {
    min-width: 450px;
}
.search-section.meeting-search-section .search-box {
    padding: 0 7px;
    flex-basis: auto;
    max-width: none;
}
.search-section.meeting-search-section .search-box > .form-control {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    border: 1px solid #EEDFD1;
}
.search-section.meeting-search-section .search-box.search-btn .btn-regular {
    background: #3E432F;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
}
.search-section.meeting-search-section .search-box.search-btn .btn-regular.btn-w-icon {
    padding-left: 20px;
}
.search-section.meeting-search-section .search-box.search-btn .btn-regular.btn-w-icon i {
    right: 10px;
    background: transparent;
    top: 14px;
}
.search-section.meeting-search-section .search-box.search-btn .btn-regular.btn-w-icon i:before {
    width: 30px;
}
.btn-grid.active svg *, .btn-list.active svg *,
.btn-grid:hover svg *, .btn-list:hover svg * {
    fill: #4A3A2F;
}
.meeting-search-section .form-switch {
    padding-right: 2.5em;
    padding-left: 0;
    margin: 0;
}
.meeting-search-section .form-switch label {
    font-weight: 500;
    font-size: 12px;
    color: #8E8E8E;
    display: inline-block;
    line-height: normal;
    position: relative;
    top: -3px;
}
.meeting-search-section .form-switch .form-check-input {
    margin-right: -2.5em;
    margin-left: 0;
    float: right;
}
.mrc-image-carousel .owl-nav {
    position: absolute;
    top: 45%;
    width: 100%;
    justify-content: space-between;
    padding: 0 5px;
    display: none;
}
.mrc-image-carousel .owl-nav button {
    width: 21px;
    height: 21px;
    background: rgba(250, 249, 248, 0.8) !important;
    border-radius: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.mrc-image-carousel .owl-nav button svg {
    width: 13px;
}
.mrc-image-carousel .owl-nav button svg * {
    fill: #4A3A2F;
}
.mr-card.mr-card-list:hover .mrc-image-carousel .owl-nav,
.mr-card.mr-card-list.active .mrc-image-carousel .owl-nav {
    display: flex;
}
.appartment-hero-box .banner-image {
    margin-bottom: 10px;
}
.input-modal.direction-rtl {
    left: unset;
    right: 0;
}
.btn-regular.v3 {
    background: #3E432F;
    border-radius: 7px;
    min-height: 75px;
}
.apprtment-book-type-tab.work-tab .nav-item .active::after {
    background-color: #4A3A2F;
}
.text-primary {
    color: #4A3A2F !important;
}
.galleryModal .btn-close {
    position: absolute;
    right: 20px;
    z-index: 9;
    top: 20px;
    background: #fff;
    color: #A95E1A;
    opacity: 1;
    border-radius: 100%;
    width: 46px;
    height: 46px;
    font-size: 30px;
    padding: 0;
    outline: none;
    box-shadow: none;
}
.fw-300 {
    font-weight: 300;
}
/*.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
}*/
.galleryModal .modal-dialog {
    border-radius: 20px;
    overflow: hidden;
}
.gallery-container {
  position: relative;
}
.gallery-container .mySlides {
  display: none;
  position: relative;
}
.gallery-container .mySlides:before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: 94px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.cursor {
  cursor: pointer;
}
.gallery-container .prev, .gallery-container .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin: -50px 60px 0;
    user-select: none;
    -webkit-user-select: none;
    background: transparent;
}
.gallery-container .next {
    right: 0;
}

.gallery-container .numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 18px;
  position: relative;
  top: 0;
}
.gallery-container .caption-container {
    text-align: center;
    background-color: transparent;
    padding: 2px 16px;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 60px;
    display: flex;
    align-items: center;
}
.gallery-container #caption {
    margin-bottom: 0;
    font-size: 14px;
}
.gallery-container .row {
    flex-flow: row;
}
.gallery-container .row:after {
  content: "";
  display: table;
  clear: both;
}
.gallery-container .column {
    float: left;
    width: 14.28%;
    margin-bottom: 0px;
    padding: 10px 10px 10px;
}
.gallery-container .gallery-thumb {
    border: 3px solid transparent;
    width: 144px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.gallery-container .gallery-thumb.active,
.gallery-container .gallery-thumb:hover {
    border: 3px solid #3E432F;
}
.gallery-thumbnails {
    padding: 0 0px 40px 0;
    overflow: auto;
    max-width: 90%;
    width: 100%;
    margin: -55px auto 0;
    position: relative;
}
.gallery-container .prev svg,
.gallery-container .next svg {
    width: 85px;
    height: 36px;
}
.gallery-container .prev:hover svg * {
    fill: #0F1310;
}
.gallery-thumbnails .nav li button {
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    border-radius: 0;
    padding: 4px 5px;
    margin: 0px 20px 0 0;
}
.gallery-thumbnails .nav-pills .nav-link.active, .gallery-thumbnails .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: 3px solid #FFFFFF;
    font-weight: bold;
}
.gallery-thumbnails .tab-content {
    margin-top: 40px;
}
.gallery-thumbnails .tab-pane {
    background: #fff;
}
.back-to-home, .back-to-home:hover {
    font-weight: 500;
    font-size: 19px;
    line-height: 36px;
    color: #4A3A2F;
    padding-left: 0;
    text-decoration: none;
}
.viewVideoTour, .viewVideoTour:hover {
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    color: #4A3A2F;
    padding-left: 0;
    text-decoration: none;
}