/*===========General===========*/
.font-weight-300{font-weight:300!important}
.font-weight-400{font-weight:400!important}
.font-weight-500{font-weight:500!important}
.font-weight-600{font-weight:600!important}
.font-weight-700{font-weight:700!important}
.font-weight-800{font-weight:800!important}
.font-weight-900{font-weight:900!important}
.bg-theme{
	background:#076187;
}
.text-theme-green{
    color: #3E9862;
}
.btn-theme{
	background:#015376;
	border-color:#015376;
	color:#fff;
}
.btn-theme:hover{
	background:#004461;
	border-color:#004461;
	color:#fff;
}
.btn-theme:active{
	background:#004461;
	border-color:#004461;
	color:#fff;
}
.btn-theme:focus{
	background:#004461;
	border-color:#004461;
	color:#fff;
}
.btn-theme-outline{
	background:transparent;
	border-color:#015376;
	color:#015376 !important;
}
.btn-theme-outline:hover{
	background:#004461 !important;
	border-color:#004461 !important;
	color:#fff !important;
}
.btn-theme-outline:active{
	background:#004461;
	border-color:#004461;
	color:#fff;
}
.btn-theme-outline:focus{
	background:#004461;
	border-color:#004461;
	color:#fff;
}
.breadcrumb{
	background:#f1f2f3;
	margin-bottom:0;
}
/*========Login=======*/
.auth-container{
    background: url(../img/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1;

}
.auth-container::before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:0;
}
.auth-container .form-content{
	background-color:rgba(0,0,0,0.7);
	border-radius:8px;
	padding:50px 40px;
}
.auth-container label{
	color:#fff;
	/*text-transform:uppercase;*/
}
.auth-container .form-control{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    color: #ffffff;
    border-radius: 5px;
	height:48px;
}
.auth-container .form-control::placeholder{color: #ffffff}
.auth-container a{
	text-transform:capitalize;
    color: #4BB877;
}
.auth-container .btn{
	background: #4BB877;
    border-color: #4BB877;
	box-shadow: 0px 5px 15px rgba(55, 81, 255, 0.24);
	border-radius: 5px
}
.auth-container2 .form-content{
    background-color:#ffffff;
    border-radius:8px;
    padding:50px 40px;
}
.auth-container2 label{
    color:#000;
    /*text-transform:uppercase;*/
}
.auth-container2 .form-control{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    color: #2f2f2f;
    border-radius: 5px;
    height:48px;
}
.auth-container2 .form-control::placeholder{color: #2f2f2f}
.auth-container2 a{
    text-transform:capitalize;
    color: #4BB877;
}
.auth-container2 .btn{
    background: #4BB877;
    border-color: #4BB877;
    box-shadow: 0px 5px 15px rgba(55, 81, 255, 0.24);
    border-radius: 5px
}
/*===========Dashboard===========*/
.widget-card{
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding:10px 10px;
    margin-bottom:1rem;
    text-align:center;
}
.widget-card i{
    width:34px;
    height:34px;
    text-align:center;
    color:#ffffff;
    font-size:14px;
    line-height:34px;
    border-radius:10px;
    display:inline-block;
    margin-bottom:0.75rem;
    margin-top: 0.75rem;
}
.widget-card h6,
.widget-card h6 a{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.301197px;
    color: #fff;
    margin-bottom:0;
}
.widget-card h3,
.widget-card h3 a {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.752993px;
    color: #ffffff !important;
}
.widget-card-blue{background-color:#4682F9;}
.widget-card-green{background-color:#00BB8C;}
.widget-card-yellow{background-color:#FDB900;}
.widget-card-purple{background-color:#8D7DFD;}
.widget-card-blue i{background-color:#7BA6FC;}
.widget-card-green i{background-color:#18DCAB;}
.widget-card-yellow i{background-color:#FFD564;}
.widget-card-purple i{background-color:#ACA0FF;}
.widget-card .widget-heading {
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
}
.widget-card h5 {
    letter-spacing: 0px;
    font-size: 18px;
    display: block;
    color: #0e1726;
    font-weight: 600;
    margin-bottom: 0;
}
/*===========New Remand===========*/
