@font-face {
    font-family: CircularStd;
    src: url(../fonts/CircularStd-Book.ttf);
    font-display: swap;
}

body {
    font-family: CircularStd;
}

p,
li,
a {
    font-size: 16px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul,
li {
    margin: 0;
    color: $primaryColor;
}

// p,
// li,
// span {
//     text-align: justify;
// }

.btn,
.btn:focus {
    border: 0;
    outline: 0;
    box-shadow: unset;
}

.form-control:focus {
    box-shadow: unset;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-family: CircularStd;
    font-weight: bold;
    span {
        color: $successColor;
    }
}
h2 {
    font-size: 30px;
    font-family: CircularStd;
    font-weight: bold;
    span {
        color: $successColor;
    }
}

h3 {
    font-size: 20px;
    font-family: CircularStd;
    font-weight: 600;
    span {
        color: $successColor;
    }
}
h4 {
    font-size: 18px;
    font-family: CircularStd;
    font-weight: 600;
    span {
        color: $successColor;
    }
}

.mb-100 {
    margin-bottom: 160px;
}

.add {
    height: 90px;
    width: 970px;
    background-color: $darkpink;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

// .imgPos {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
// }

.left {
    left: 20px;
}
.right {
    right: 20px;
}

.myLabel {
    color: $primaryColor;
    font-size: 16px;
    font-weight: 600;
}

.btr-4 {
    border-radius: 4px 4px 0 0;
}
.bbr-4 {
    border-radius: 0 0 4px 4px;
}

.fw-medium {
    font-weight: 500;
}