/*================================
Media Quries Style Start Here 
================================== */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    .py-60 {
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .my-60 {
        margin-top: 36px;
        margin-bottom: 36px;
    }

    .bordert-10 {
        border-radius: 10px 10px 0 0;
    }

    .borderb-10 {
        border-radius: 0 0 10px 10px;
    }

    #signPgae .logsignBox {
        display: none !important;
    }

    .toolFeatures {
        .featureBox {
            background-image: url(../images/whybg.webp) !important;
        }
    }
}

@media screen and (min-width: 992px) {
    .borderR {
        border-right: 1px solid #CBD0E5;
    }

    .btrl-10 {
        border-top-left-radius: 10px;
    }

    .btrr-10 {
        border-top-right-radius: 10px;
    }

    .bbrl-10 {
        border-bottom-left-radius: 10px;
    }

    .bbrr-10 {
        border-bottom-right-radius: 10px;
    }

    // .mainBox {
    //     .inputArea {
    //         width: 100%;
    //     }
    // }

    // .freeBox {
    //     width: 50% !important;
    // }

    .radioBoxes {
        .myRadio {
            &:checked {
                &+.radioLabel {
                    transform: scaleY(1.08);
                }
            }
        }
    }

    .whoCanUse {
        .userBox {
            background-image: url(../images/userflow.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 98% 100%;
            padding-bottom: calc(100% - 65%);
            padding-top: 45px;
        }
    }


}

@media screen and (max-width: 768px) {
    .settings .nav-pills .nav-link {
        padding: 8px 3px;
    }
    .billPay .nav-pills .nav-link {
        padding: 8px 3px;
    }
    .pricePlan .nav-pills .nav-link {
        padding: 8px 3px;
    }
    .modal .gotoDashBoard {
        padding: 16px 30px;
    }
}
@media screen and (max-width: 576px) {
    .nextBtn {
        padding: 8px 16px;
    }

    .prevBtn {
        padding: 8px 16px;
    }

    .pageNum {
        font-size: 14px;
    }
}
@media screen and (min-width: 576px) {
    .freeBox {
        width: 50%;
    }
}

@media screen and (max-width: 1400px) {
    .reviewHeader {
        padding: 90px !important;
    }
}