@mixin pymentMixin {
    .paymentBox {
        cursor: pointer;
    }
    .american:hover {
        content: url(../images/hoverexpress.svg);
    }

    .discover:hover {
        content: url(../images/hoverdiscover.svg);
    }

    .master:hover {
        content: url(../images/hovermaster.svg);
    }

    .visa:hover {
        content: url(../images/hovervisa.svg);
    }
}

@mixin navTabs {
    .nav-link {
        color: $darkpink;
        font-weight: bold;
        padding: 8px 80px;
        border-radius: 0;
    }

    .active {
        color: $primaryColor !important;
        background-color: transparent !important;
        border-bottom: 1px solid $successColor;
        border-radius: 0;

        img {
            filter: brightness(0) saturate(100%) invert(6%) sepia(67%) saturate(2913%) hue-rotate(227deg) brightness(103%) contrast(96%);
        }
    }
}

@mixin bgpos {
    background-image: url(../images/bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin cardMixin {
    background-color: $white;
    border-radius: 16px;
    border: 1px solid #B8BAC7;

    .px-80 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .cardText {
        color: $darkpink;
        font-size: 16px;
        font-weight: normal;
    }

    .myInputs {
        background-color: $pink;
        border: 1px solid $d4Color;
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;

        &:focus {
            background-color: $pink;
            border: 1px solid $d4Color;
            border-radius: 10px;
        }

        &::placeholder {
            color: $darkpink;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
        }
        .imgPos {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .nameInputs::placeholder,
    .cardInputs::placeholder {
        text-align: left;
    }

    .form-switch .form-check-input {
        width: 35px;
        height: 20px;
        background-color: #B8BAC7;
        box-shadow: unset;
        border: 2px solid #B8BAC7;
        background-image: url(../images/swichtchecked.svg);

        &:focus {
            background-image: url(../images/swichtunchecked.svg);
        }

        &:checked {
            background-color: $successColor;
            border: 2px solid $successColor;
            background-image: url(../images/swichtchecked.svg);
        }
    }
    .updateBtn {
        background-color: $successColor;
        color: $white;
        padding: 12px 30px;
        border-radius: 10px;
    }
}

@mixin tableStyle {
        width: 100%;
        overflow-x: auto;

        th,
        td {
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding: 5px;
            color: $primaryColor;
            vertical-align: middle;
            white-space: nowrap;
            padding: 10px 20px 10px 0;
        }

        th {
            font-size: 16px;
            color: $darkpink;
            border-bottom: 1px solid #EBECED;
            font-weight: bold;
        }

        .myDropdown {
            &::after {
                border: 0;
                margin-left: 0;
            }
        }

        .myMenu {
            background-color: $white;
            box-shadow: 0px 0px 40px #141A4633;
            border-radius: 4px;
            border: none;
            margin-top: 2px;

            .myMenuDrop {
                &:is(:hover, :active) {
                    background-color: #E7EAF2 !important;
                    color: $black;
                }
            }
        }
}
