/*================================
Sign Pgaes Style Start Here 
================================== */
#signPgae {
    .logButtons {
        background-color: $pink;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: 500;
        color: $primaryColor;
    }

    .devider {
        position: relative;
        color: $primaryColor;
        font-weight: 500;

        &:before {
            content: "";
            background: $primaryColor;
            width: 46%;
            height: 1px;
            display: block;
            position: absolute;
            top: 50%;
            right: 54%;
            z-index: 0;
        }

        &:after {
            content: "";
            background: $primaryColor;
            width: 46%;
            height: 1px;
            left: 54%;
            display: block;
            position: absolute;
            top: 50%;
        }
    }

    .myLabel {
        color: $primaryColor;
        font-weight: 500;
    }

    .myInput {
        background-color: $pink;
        border-radius: 10px;
        border: 1px solid $pink;
        padding: 12px;

        &::placeholder {
            color: $darkpink;
            font-size: 14px;
            font-weight: 500;
        }

        &:focus {
            box-shadow: unset;
            border-color: #dc3545;
        }
    }

    .form-control.is-invalid, .was-validated .form-control:invalid {
        border-color: #dc3545;
    }

    .loginBnt {
        background-color: $successColor;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: 500;
        color: $white;
    }

    .forgetPass {
        color: $darkpink;
        cursor: pointer;
        text-decoration: underline;
    }

    .createLink {
        color: $primaryColor;
        font-weight: 500;

        a {
            color: $successColor;
            font-weight: 500;
            text-decoration: underline;
        }
    }

    .guestLink {
        color: $darkpink;
        font-weight: 500;
    }

    .login {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('../images/logsign.webp');
        background-size: 100% 100%;
        background-position: center center;
    }

    .bg-forget {
        background-image: url('../images/forgotpass.webp');
    }

    .bg-email {
        background-image: url('../images/checkmail.webp');
    }

    .bg-passReset {
        background-image: url('../images/passreset.webp');
    }

    .resendEmail {
        color: $darkpink;
        font-weight: 500;

        a {
            color: $successColor;
            font-weight: 500;
        }
    }

    .backlogin {
        color: $successColor;
        font-weight: 500;
    }
}