$black: #000000;
$white: #FFFFFF;
$successColor: #03AF80;
$primaryColor: #141A46;
$pink: #F2F3F5;
$darkpink: #898CA2;
$deColor: #DEDFE6;
$secondryColor: #F4F5F7;
$edColor: #EDF8F5;
$e2color:#E2E2E2;
$dbColor: #DBDCE2;
$faColor: #FAFAFB;
$d4Color: #D4D5D9;