@font-face {
  font-family: CircularStd;
  src: url(../fonts/CircularStd-Book.ttf);
  font-display: swap;
}
body {
  font-family: CircularStd;
  background-color: #f5f7fb;
}

p,
li,
a {
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul,
li {
  margin: 0;
  color: #141A46;
}

.btn,
.btn:focus {
  border: 0;
  outline: 0;
  box-shadow: unset;
}

.form-control:focus {
  box-shadow: unset;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-family: CircularStd;
  font-weight: bold;
}
h1 span {
  color: #03AF80;
}

h2 {
  font-size: 30px;
  font-family: CircularStd;
  font-weight: bold;
}
h2 span {
  color: #03AF80;
}

h3 {
  font-size: 20px;
  font-family: CircularStd;
  font-weight: 600;
}
h3 span {
  color: #03AF80;
}

h4 {
  font-size: 18px;
  font-family: CircularStd;
  font-weight: 600;
}
h4 span {
  color: #03AF80;
}

.mb-100 {
  margin-bottom: 160px;
}

.add {
  height: 90px;
  width: 970px;
  background-color: #898CA2;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.myLabel {
  color: #141A46;
  font-size: 16px;
  font-weight: 600;
}

.btr-4 {
  border-radius: 4px 4px 0 0;
}

.bbr-4 {
  border-radius: 0 0 4px 4px;
}

.fw-medium {
  font-weight: 500;
}

/*================================
Sign Pgaes Style Start Here 
================================== */
#signPgae .logButtons {
  background-color: #F2F3F5;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #141A46;
}
#signPgae .devider {
  position: relative;
  color: #141A46;
  font-weight: 500;
}
#signPgae .devider:before {
  content: "";
  background: #141A46;
  width: 46%;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  right: 54%;
  z-index: 0;
}
#signPgae .devider:after {
  content: "";
  background: #141A46;
  width: 46%;
  height: 1px;
  left: 54%;
  display: block;
  position: absolute;
  top: 50%;
}
#signPgae .myLabel {
  color: #141A46;
  font-weight: 500;
}
#signPgae .myInput {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 12px;
}
#signPgae .myInput::-moz-placeholder {
  color: #898CA2;
  font-size: 14px;
  font-weight: 500;
}
#signPgae .myInput:-ms-input-placeholder {
  color: #898CA2;
  font-size: 14px;
  font-weight: 500;
}
#signPgae .myInput::placeholder {
  color: #898CA2;
  font-size: 14px;
  font-weight: 500;
}
#signPgae .myInput:focus {
  box-shadow: unset;
  border-color: #dc3545;
}
#signPgae .form-control.is-invalid, #signPgae .was-validated .form-control:invalid {
  border-color: #dc3545;
}
#signPgae .loginBnt {
  background-color: #03AF80;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
#signPgae .forgetPass {
  color: #898CA2;
  cursor: pointer;
  text-decoration: underline;
}
#signPgae .createLink {
  color: #141A46;
  font-weight: 500;
}
#signPgae .createLink a {
  color: #03AF80;
  font-weight: 500;
  text-decoration: underline;
}
#signPgae .guestLink {
  color: #898CA2;
  font-weight: 500;
}
#signPgae .login {
  min-height: 100vh;
}
#signPgae .bg-image {
  background-image: url("../images/logsign.webp");
  background-size: 100% 100%;
  background-position: center center;
}
#signPgae .bg-forget {
  background-image: url("../images/forgotpass.webp");
}
#signPgae .bg-email {
  background-image: url("../images/checkmail.webp");
}
#signPgae .bg-passReset {
  background-image: url("../images/passreset.webp");
}
#signPgae .resendEmail {
  color: #898CA2;
  font-weight: 500;
}
#signPgae .resendEmail a {
  color: #03AF80;
  font-weight: 500;
}
#signPgae .backlogin {
  color: #03AF80;
  font-weight: 500;
}

/*================================
Media Quries Style Start Here 
================================== */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  .py-60 {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .my-60 {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .bordert-10 {
    border-radius: 10px 10px 0 0;
  }
  .borderb-10 {
    border-radius: 0 0 10px 10px;
  }
  #signPgae .logsignBox {
    display: none !important;
  }
  .toolFeatures .featureBox {
    background-image: url(../images/whybg.webp) !important;
  }
}
@media screen and (min-width: 992px) {
  .borderR {
    border-right: 1px solid #CBD0E5;
  }
  .btrl-10 {
    border-top-left-radius: 10px;
  }
  .btrr-10 {
    border-top-right-radius: 10px;
  }
  .bbrl-10 {
    border-bottom-left-radius: 10px;
  }
  .bbrr-10 {
    border-bottom-right-radius: 10px;
  }
  .radioBoxes .myRadio:checked + .radioLabel {
    transform: scaleY(1.08);
  }
  .whoCanUse .userBox {
    background-image: url(../images/userflow.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 98% 100%;
    padding-bottom: 35%;
    padding-top: 45px;
  }
}
@media screen and (max-width: 768px) {
  .settings .nav-pills .nav-link {
    padding: 8px 3px;
  }
  .billPay .nav-pills .nav-link {
    padding: 8px 3px;
  }
  .pricePlan .nav-pills .nav-link {
    padding: 8px 3px;
  }
  .modal .gotoDashBoard {
    padding: 16px 30px;
  }
}
@media screen and (max-width: 576px) {
  .nextBtn {
    padding: 8px 16px;
  }
  .prevBtn {
    padding: 8px 16px;
  }
  .pageNum {
    font-size: 14px;
  }
}
@media screen and (min-width: 576px) {
  .freeBox {
    width: 50%;
  }
}
@media screen and (max-width: 1400px) {
  .reviewHeader {
    padding: 90px !important;
  }
}/*# sourceMappingURL=style.css.map */