*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --lightgray:#F7F9FE;
    --white:#FFFFFF;
    --black:#000;
    --pup:#2F3DD4;
}
.boxs{
    display: flex;
    position: relative;
}

.inbox{
    width: 50%;
    height: 100vh;
}

.n1{
    background-color: var(--pup);
}

.n2{
    background-color: var(--white);
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 25px 60px;
   
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.41);
}

.tit{
    margin-top: -70px;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 17px;
}

.tit h2{
    color: var(--pup);
    font-size: 29px;
    font-weight: 900;
}
.tit p{
    font-size: 20px;
}
.inputbox{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
    
}

.inputfield{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    /* position: relative; */

}

.inputfield span ion-icon{
    color: var(--pup);
    font-size: 26px;
    padding-right: 10px;
}

.inputfield input{
    height: 37px;
    width: 90% ;

    padding-left: 10px;
    /* outline: none; */
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.203);
    /* border-color: var(--pup); */
    border-radius: 5px;
    transition: 0.5s;
    outline: none;
}

.inputfield input:focus{
    border-color: var(--pup);
}
.inputfield ::placeholder{
    color: rgba(0, 0, 0, 0.703);
}
.but{
    text-align: center;
}

.but button{
    padding: 9px 27px;
    background-color: var(--pup);
    outline: none;
    color: var(--white);
    border: none;
    font-weight: 900;
}

.forget{
    margin-top: 18px;
    text-align: right;
}
.imgbox{
    position: relative;
    top: -70px;
    left: calc(24% + 29px);
    width: 99px;
    height: 100px;
    border-radius: 50%;
}

.imgbox img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}